<div class="ladyboss-challenge-header">
  <p class="text-center color-white">
    <i class="fa-regular fa-envelope mr-1"></i>Your Confirmation Email Is On Its
    Way! Please Give Us A Few Minutes To Grant You Access
  </p>
</div>
<section class="thankyou-wrapper">
  <section class="thank-you-yes-wrap">
    <article class="container">
      <figure class="row challenge-video-wrap">
        <div class="col-12">
          <div class="text-center title">
            <img
              class="img-fluid logo"
              src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/354143/file/026718632d3f30f7b6994313cedfdd6c.png"
              alt="logo"
            />
            <h1 class="color-black">Welcome To The LadyBoss</h1>
            <p>LIVE ‘21-Day Love Yourself &amp; Lose Weight’ Challenge!</p>
            <span class="watch-text color-black"
              ><i class="fa-solid fa-angles-down"></i> Watch below for the next
              steps...</span
            >
          </div>

          <div class="video-wrap">
            <iframe
              src="https://embed.voomly.com/embed/assets/embed.html?videoId=hMAAO0sZDQI-ke1TjFuBB9hAjhK7FYG9woI6GDY1ePKXM3ocY&videoRatio=1.777778&type=v"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="important-card card">
            <p class="imp-p text-center">
              <b class="color-brand">IMPORTANT:</b>&nbsp;Follow The Next Steps
              Below To Prepare For Your 21-Day Challenge!
            </p>
            <p class="remainder-bg color-black text-center">
              <i class="fa-regular fa-envelope"></i> <b>REMINDER:</b>&nbsp;Check
              Your Email for challenge access &amp; VIP challenge pack details!
            </p>
          </div>
          <div class="card vip-challange-pack">
            <p class="vip-text text-center">
              Your VIP <span class="color-brand">'Challenge Pack'</span> Is
              Headed Your Way!
            </p>
            <div class="row">
              <div class="col-sm-5 col-12 img-col">
                <img
                  class="img-fluid"
                  src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/357250/file/2d7d18e31f1c4a5337857466e6510012.png"
                  alt="vip png"
                  loading="lazy"
                />
              </div>
              <div class="col-sm-7 col-12 text-col">
                <p class="color-black">
                  You registered for VIP ticket to the LIVE 21-Day Weight Loss
                  Challenge, which means you get everything inside the AMAZING
                  'VIP Challenge Pack'!
                </p>

                <p class="color-black font-bold my-4">
                  Keep an eye out for the mail truck, we'll be sending you this
                  special LadyBoss Challenge Pack very soon to the address on
                  file.
                </p>
                <p class="color-black">
                  Once received, you'll be able to experience all the
                  health-boosting GOODNESS we've stuffed inside for you, like:
                </p>

                <ul class="color-black">
                  <li>
                    <i class="fa-regular fa-angles-right de"></i
                    ><b>1 box LadyBoss Vanilla Cake LEAN</b>
                  </li>
                  <li>
                    <i class="fa-regular fa-angles-right de"></i
                    ><b>Challenge Playbook </b> (Physical Copy)
                  </li>
                  <li>
                    <i class="fa-regular fa-angles-right de"></i
                    ><b>Big Fat Lies Book</b> (Physical Copy)
                  </li>
                  <li>
                    <i class="fa-regular fa-angles-right de"></i
                    ><b>LadyBoss Shaker Cup</b>
                  </li>
                  <li>
                    <i class="fa-regular fa-angles-right de"></i
                    ><b>LadyBoss Resistance Bands</b> – which includes 4
                    different strengths + carrying bag!
                  </li>
                  <li>
                    <i class="fa-regular fa-angles-right de"></i
                    ><b>LadyBoss Stickers</b>
                  </li>
                </ul>

                <p class="color-black">
                  It's all headed your way, packaged in a
                  <b class="color-brand">GORGEOUS</b>
                  <b> custom LadyBoss box!</b>
                </p>

                <p class="color-black mt-4">
                  OK, here's all the other IMPORTANT steps you need to know to
                  prepare for the Challenge. (Make sure you take care of these
                  BEFORE we kick off Day 1 of the Challenge, so you're ready to
                  go!)
                </p>
              </div>
            </div>
          </div>
          <div class="card challenge-step">
            <div class="inner-content d-flex">
              <div class="left-img">
                <img
                  class="img-fluid"
                  src="https://statics.myclickfunnels.com/image/350050/file/747f07a5e06136261f74aceeee234a04.svg"
                  alt="Group 3 svg"
                  loading="lazy"
                />
              </div>
              <div class="right-text">
                <h3>
                  <span class="color-brand">STEP ONE:</span> Join The Private
                  LadyBoss '21 Day Challenge' Group
                </h3>
                <p>
                  <b
                    >Our private Facebook group is where the Challenge will take
                    place!</b
                  >
                  This is where we'll go LIVE each day of the 21 Day Challenge.
                </p>
                <p class="my-4">
                  Once inside the group, you'll be able to connect with other
                  LadyBosses who are on the same journey of<b
                    >creating a HEALTHY body</b
                  >
                  , just like you!
                </p>
                <a
                  [href]="settings.fbGroup"
                  target="_blank"
                  class="button button-large button-primary"
                >
                  <i class="fa-brands fa-square-facebook mr-3"></i>Join The
                  Facebook Group
                </a>
              </div>
            </div>
          </div>

          <div class="card challenge-step">
            <div class="inner-content d-flex">
              <div class="left-img">
                <img
                  class="img-fluid"
                  src="https://statics.myclickfunnels.com/image/350055/file/23dfc93c36634b12a8dfadf37cadf863.svg"
                  alt="Group 2 svg"
                  width="300"
                  loading="lazy"
                />
              </div>
              <div class="right-text">
                <h3>
                  <span class="color-brand">STEP TWO:</span>&nbsp;Add The
                  CHALLENGE Dates/Times To Your Calendar!
                </h3>
                <p>
                  Make sure to add these dates (and time) of the livestream each
                  day into your calendar or smartphone
                  <b> so you don't miss a single moment of the challenge!</b>
                </p>
                <h4 class="date">
                  🗓 {{ settings.eventDate }} 8amMST / 10amEST
                </h4>
                <p>
                  We can’t wait to get <b>fired up</b> with you in the Facebook
                  group everyday when we go LIVE!!!
                </p>
                <p class="mt-4">
                  <b class="color-brand">HELPFUL TIP:</b> Set your alarm every
                  day for 5-10 minutes before each livestream, so you can show
                  up early!
                </p>
              </div>
            </div>
          </div>
          <div class="card challenge-step">
            <div class="inner-content d-flex">
              <div class="left-img">
                <img
                  class="img-fluid"
                  src="https://statics.myclickfunnels.com/image/350057/file/83575792ea6fe964adbc9bee181b8699.svg"
                  alt="Group svg"
                  loading="lazy"
                />
              </div>
              <div class="right-text">
                <h3>
                  <span class="color-brand">STEP THREE:</span>&nbsp;Invite Your
                  FRIENDS To Do The Challenge With You!
                </h3>
                <p class="color-black">
                  <b
                    >The LIVE Challenge is a FUN event that you can do alongside
                    your friends</b
                  >
                  – so invite them to join you!
                </p>

                <p class="color-black my-4">
                  Invite your sisters, cousins, aunts, or coworkers!! Think of
                  at least 5 women you know that want a happier, healthier life
                  and
                  <b>send them this quick text:</b>
                </p>
                <p>
                  "Hey ______! So I just signed up for the 21 Day Weight Loss
                  Challenge... and I'm challenging you to do it with me. It's
                  FREE 🙂. Here's the info: __(grab your personal referral link
                  from your Dashboard)
                </p>

                <ng-container *ngIf="referrerCode">
                  <p class="mt-4">Your unique referral link:</p>
                  <h2 class="link">
                    <i class="fas fa-link color-brand mr-2"></i
                    ><a
                      >{{ referrerCode.toLowerCase() }}.LADYBOSS.IO/CHALLENGE</a
                    >
                    <i
                      (click)="copy()"
                      data-toggle="tooltip"
                      title="Copy link"
                      data-template="<div class='dashboard-tooltip training-center tooltip' role='tooltip'><div class='arrow top'></div><div class='tooltip-inner'></div></div>"
                      class="fa-clone pointer ml-2 fa-regular {{
                        linkCopied ? 'hide' : ''
                      }}"
                    ></i>
                    <i
                      data-toggle="tooltip"
                      title="Link copied"
                      data-template="<div class='dashboard-tooltip training-center tooltip' role='tooltip'><div class='arrow top'></div><div class='tooltip-inner'></div></div>"
                      class="color-green ml-2 fa-check fa-regular {{
                        !linkCopied ? 'hide' : ''
                      }}"
                    ></i>
                  </h2>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="card challenge-step view-wrap">
            <div class="inner-content">
              <div class="right-text">
                <h2 class="color-black text-center view-text">
                  TO VIEW YOUR ORDER OR MANAGE YOUR ACCOUNT PLEASE LOG INTO YOUR
                  DASHBOARD
                </h2>
                <button
                  routerLink="/dashboard"
                  class="button button-large button-primary"
                >
                  <i class="fa-solid fa-table-columns mr-2"></i>GO INTO YOUR
                  DASHBOARD
                </button>
              </div>
            </div>
          </div>
        </div>
      </figure>
    </article>
  </section>
</section>
