<main class="sk-main" [style.margin-top.px]="discountHeight">
  <section class="ladyboss-replay-wrap">
    <article class="container">
      <figure class="row">
        <div class="col-12">
          <div class="title text-center">
            <h3 class="color-black">Today We’re Announcing That:</h3>
            <h1 class="color-brand">
              <img
                class="img-fluid"
                src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/332258/file/e9a733eb004e1c93ba7204df0662bc28.png"
                data-image-size="36888"
                alt="ladyboss_logo png"
              />
              Is Officially <u>Back</u>!!!
            </h1>
          </div>

          <p class="video-title text-center">
            <i class="fa-solid fa-volume-high mr-3"></i>Turn Up The Volume And
            Watch The Replay Below Now
          </p>

          <div class="replay-video-wrap">
            <iframe
              src="https://embed.voomly.com/embed/assets/embed.html?videoId=XU0HBRaWiZaLg9ETWZVut7w10xTUEzjBe71naHzRb3KPG1xRU&amp;videoRatio=1.7777&amp;type=v"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""
            ></iframe>
          </div>

          <button
            routerLink="/startup"
            class="button button-large button-primary"
          >
            Join the ladyboss movement today
            <i class="fa-solid fa-right-long ml-3"></i>
          </button>

          <div class="replay-video-list">
            <h3 class="color-brand text-center">
              In The Video Above, You’ll Learn...
            </h3>
            <div class="row video-list">
              <div class="col-md-6 col-12">
                <ul>
                  <li>
                    What <u>REALLY</u> happened to LadyBoss… why they decided to
                    shut their doors…
                    <strong
                      >and the unexpected “rise-up” that’s never been shared
                      <u>until now</u></strong
                    >
                    (revealed at 7:20)
                  </li>
                  <li>
                    <strong
                      >The never-before-seen LadyBoss documentary that reveals
                      Kaelin’s TRUE story…</strong
                    >
                    including her overnight rise to becoming the leader of one
                    of the biggest women’s wellness companies in the world!
                    (revealed at 10:14)
                  </li>
                  <li>
                    LadyBoss as a child?? Exposed: Kaelin reveals the truth
                    about her tragic early life… her unhealthy relationship with
                    food… and
                    <strong
                      >how a “slap” from her grandmother changed everything for
                      her… and millions of women around the world!!</strong
                    >
                    (revealed at 11:30)
                  </li>
                  <li>
                    Kaelin’s “a-ha” moment that saved her life and career…
                    (revealed at 17:19)
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-12">
                <ul>
                  <li>
                    <strong
                      >The monumental shift Kaelin had on a flight home that
                      birthed the “LadyBoss” brand</strong
                    >
                    we know today… (revealed at 23:05)
                  </li>
                  <li>
                    <strong>The REAL reason LadyBoss CLOSED</strong> (warning:
                    might make you ugly cry happy tears)...and how the business
                    was saved!! (revealed at 28:22)
                  </li>

                  <li>
                    <strong>What’s going to happen to LadyBoss now?!?</strong>
                    (Psst… the answer could be the GREATEST opportunity of a
                    lifetime… revealed at 30:20)
                  </li>
                  <li>
                    The incredible opportunity for LadyBosses who want all their
                    product for FREE… and how to
                    <strong>
                      <u>literally be paid to be a LadyBoss!!!</u></strong
                    >
                    (revealed at 37:00)
                  </li>
                </ul>
              </div>
            </div>
            <button
              routerLink="/startup"
              class="button button-large button-primary"
            >
              Join the ladyboss movement today<i
                class="fa-fw fa_apended fas fa-long-arrow-alt-right ml-2"
              ></i>
            </button>
          </div>
        </div>
      </figure>
    </article>
  </section>
</main>
