<section class="ladyboss-5dayCake-header">
  <article class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <img class="img-fluid burnit-logo logo"
            src="https://statics.myclickfunnels.com/image/928401/file/25fdc31c3e8ed8cc3210031c38b8247d.png">
        </div>
      </div>
    </div>
  </article>
</section>

<section [ngClass]="{ 'slimdown-contact-success': isContactSuccess }"
  class="ladyboss-5dayCake-congratsVideo-wrap burnit">
  <article class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center color-brand title mb-2">Congrats And Welcome To </h2>
        <h3 class="text-center color-black">The LadyBoss 30 Day Slimdown!</h3>
        <p class="text-center color-black">See Below For The Next Steps...</p>
      </div>
    </div>
  </article>
</section>

<section class="ladyboss-5dayCake-nextSteps-wrap">
  <article class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h3 class="text-center color-black"><i class="fa-solid fa-triangle-exclamation color-brand"></i><u
              class="ml-1">IMPORTANT:</u> Follow The Next Steps Below To Prepare For The 30 Day Slimdown!</h3>
          <h5 class="reminder-box text-center"><strong><u>Reminder:</u></strong> Make Sure To Check Your Email With All
            Of The Important Details!</h5>
          <div class="row step-info">
            <div class="col icon">
              <img class="img-fluid"
                src="https://statics.myclickfunnels.com/image/564512/file/98ba1b3fd1ba2c490bb3c498970ba9f3.png">
            </div>
            <div class="col step-text">
              <h5 class="color-black mb-2"><i class="fa-solid fa-square-check color-brand mr-2"></i> Step
                1:</h5>
              <h2 class="color-brand mb-3">CHECK YOUR EMAIL!
              </h2>
              <p class="color-black mb-4">By now, you should have received a confirmation email, and your <a
                  target="_blank" href="https://s3.amazonaws.com/s3content/LadyBoss/30-Day-Slimdown-PlayBook-V.2.pdf">Printable Tracker</a> for the 30 Day Slimdown.
                <br><br>

                (Please check your SPAM folder as well because email can be finicky and we want to make sure you’re
                getting emails from us.)<br><br>

                Additionally, you’ll want to keep an eye on your email inbox as we get closer to August 1st because
                we’ll be sending you exclusive content to get you pumped and ready!!
              </p>
            </div>
          </div>
          <div class="row step-info">
            <div class="col icon">
              <img class="img-fluid"
                src="https://statics.myclickfunnels.com/image/564513/file/4f39be7244049c6e998b19cefb949e33.png">
            </div>
            <div class="col step-text">
              <h5 class="color-black mb-2"><i class="fa-solid fa-square-check color-brand mr-2"></i> Step 2:</h5>
              <h2 class="color-brand mb-3">Join The LadyBoss Community</h2>
              <p class="color-black mb-4">While you can do this program independently, we encourage you to do the 30 Day
                Slimdown with other Ladybosses in the LadyBoss Community! <br><br>
                Plus, once inside you'll be able to mingle and network with other amazing ladies
                who are on the same journey as you. Nothing helps accelerate progress more
                than extra accountability!</p>
              <a href="https://www.facebook.com/groups/290638181281224" target="_blank"
                class="button button-primary facebook-btn">
                <i class="fa-brands fa-facebook mr-1"></i> Click Here To Join The LadyBoss Community NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>