<ng-container *ngIf="isViOffer || isViTimerPresent">
  <div
    *ngIf="isViTimerPresent && isCart"
    class="card extra-offer-card vip-offer-accept my-3"
  >
    <div class="px-3 py-2">
      <div class="d-flex align-items-center">
        <div class="user-img-wrap">
          <img
            class="img-fluid"
            [src]="
              offerorImage !== '' ? offerorImage : 'assets/images/avatar2.png'
            "
          />
        </div>
        <p *ngIf="bonusValue == 10" class="disclaimer-bold color-white ml-3">
          {{"extra-10-off-apply-checkout" | translate}}
        </p>
        <p *ngIf="bonusValue == 20" class="disclaimer-bold color-white ml-3">
          {{"extra-20-off-apply-checkout" | translate}}
        </p>
        <p *ngIf="bonusValue == 50" class="disclaimer-bold color-white ml-3">
          {{"extra-50-off-apply-checkout" | translate}}
        </p>
        <p *ngIf="bonusValue == 100" class="disclaimer-bold color-white ml-3">
          {{"extra-100-off-apply-checkout" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!isViTimerPresent && !isCart">
    <button
      (click)="onClaimDiscount()"
      class="button button-primary today-off col"
    >
      <i class="fa-solid fa-gift mr-2"></i>
      <span *ngIf="bonusValue == 10">{{ "get-10-off-today" | translate }}</span>
      <span *ngIf="bonusValue == 20">{{ "get-20-off-today" | translate }}</span>
      <span *ngIf="bonusValue == 50">{{ "get-50-off-today" | translate }}</span>
      <span *ngIf="bonusValue == 100">{{ "get-100-off-today" | translate }}</span>
    </button>
  </div>
  <div
    *ngIf="!isViTimerPresent && isCart"
    (click)="onClaimDiscount()"
    class="card extra-offer-card vip-offer-avail my-3 pointer"
  >
    <div class="px-3 py-2">
      <div class="d-flex align-items-center">
        <div class="user-img-wrap">
          <img
            class="img-fluid"
            [src]="offerorImage !== '' ? offerorImage : 'assets/images/avatar2.png'"
          />
        </div>
        <p class="disclaimer-bold color-white ml-3">
          <i class="fa-solid fa-gift mr-2"></i>
          <span *ngIf="bonusValue == 10">{{ "get-10-off-today" | translate }}</span>
          <span *ngIf="bonusValue == 20">{{ "get-20-off-today" | translate }}</span>
          <span *ngIf="bonusValue == 50">{{ "get-50-off-today" | translate }}</span>
          <span *ngIf="bonusValue == 100">{{ "get-100-off-today" | translate }}</span>
        </p>
      </div>
    </div>
  </div>
</ng-container>
