<div class="sk-main__product-btn">
  <button
    class="button button-primary buy-now"
    (click)="onClickAddToCart(product)"
    *ngIf="
      !(product.isSoldOut || product.isAllVariationOutOfStock) &&
        !isPromoter &&
        isSingleVariation(product) &&
        tenant === 'ladyboss';
      else buyNowRef
    "
  >
    {{ "add-to-cart" | translate }}
  </button>
  <ng-template #buyNowRef>
    <button
      class="button button-primary buy-now"
      data-toggle="modal"
      data-target="#exampleModalCenter"
      (click)="onClickBuyNow(product)"
      *ngIf="
        !(product.isSoldOut || product.isAllVariationOutOfStock) && !isPromoter
      "
    >
      {{ "buy-now" | translate }}
    </button>
    <button
      class="button button-primary buy-now"
      (click)="onClickPromoter(product)"
      *ngIf="
        !(product.isSoldOut || product.isAllVariationOutOfStock) && isPromoter
      "
    >
      {{ "buy-now" | translate }}
    </button>
  </ng-template>
  <!-- <div
    class="sold-out"
    *ngIf="product.isSoldOut || product.isAllVariationOutOfStock"
  >
    <h4>
      {{
        product.isAllVariationOutOfStock
          ? ("out-of-stock" | translate)
          : product.isSoldOut && product.sellingClosedText !== ""
          ? product.sellingClosedText
          : ("currently-sold-out" | translate)
      }}
    </h4>
  </div> -->
  <ng-container *ngIf="product.isSoldOut; then waitListAction; else outofStock">
  </ng-container>

  <ng-template #outofStock>
    <div class="sold-out" *ngIf="product.isAllVariationOutOfStock">
      <h4>{{ "out-of-stock" | translate }}</h4>
    </div>
  </ng-template>

  <ng-template #waitListAction>
    <button
      (click)="onWaitlistAdd()"
      *ngIf="product.isSoldOut"
      class="button button-primary buy-now button-icon button-waitlist"
      [ngStyle]="{ backgroundColor: '#FF9000' }"
    >
      Notify me
    </button>
  </ng-template>
</div>
