<div class="pulseapp__component dashboard--component">
    <h3>Get Prüvit Pulse app</h3>
    <div class="pulseapp__component__info mt-3">
        <img src="assets/images/qr-code-pulse-app.png" />
        <p>
            Open your phone’s camera and hold the QR code in view to download the app
        </p>
    </div>

    <div class="dashboard__buttons">
        <a href="https://apps.apple.com/us/app/pr%C3%BCvit-pulse/id1097690467" target="_blank"
            class="button button--default button--black"><img src="assets/images/apple-logo.svg" />Apple</a>
        <a href="https://play.google.com/store/apps/details?id=com.pruvit&hl=en" target="_blank"
            class="button button--default button--black"><img src="assets/images/google-logo.svg" />Google play</a>
    </div>
</div>