<section class="ladyboss-earnit-reg-header">
    <article class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <img class="img-fluid champion_logo"
                        src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/620416/file/116b6eaa488f05fa2c8bd99a126eb865.png">
                    <button (click)="ScrollIntoView()" class="button button-large button-primary mb-hide"> BECOME A
                        CHAMPION! </button>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="ladyboss-earnit-reg-header-bg">
    <article class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="color-brand">What If You Could <u>Earn Additional Income</u> Each Month</h4>
                <p class="color-brand">Just By Living &amp; Promoting A Healthy Lifestyle That You Want To Do Anyway??
                </p>
            </div>
        </div>
    </article>
</section>

<section class="ladyboss-earnit-reg-championwrap">
    <article class="container">
        <figure class="row">
            <div class="col-md-5 col-12 left-col">
                <img class="img-fluid mb-hide"
                    src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/620336/file/8457e435f92737440d63631c409c166a.png">
            </div>

            <div class="col-md-7 col-12 right-col text-center">
                <p class="title"><i>Then This Is Your Chance To Become A…</i></p>
                <div class="border-bottom-pink text-center">
                    <img src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/412616/file/52b05321d9b950fed157b85f264ffb11.png"
                        width="50" class="img-fluid ldy-logo">
                </div>

                <img class="img-fluid pt-4 ladyboss-logo"
                    src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/619797/file/fc896aaa604bdea8c7a8953b86af200f.png">
                <h1 class="color-brand border-bottom-pink mb-hide"><i>Champion!</i></h1>
                <h1 class="color-brand mb-show"><i>Champion!</i></h1>
                <img class="img-fluid border-bottom-pink pb-4 mb-show"
                    src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/620336/file/8457e435f92737440d63631c409c166a.png">

                <p class="details-text">We’ll give you the tools & step-by-step guidance to build your own future… All while living the healthy lifestyle you’ll already be doing!</p>
                <button (click)="ScrollIntoView()" class="button button-primary button-large"> BECOME A CHAMPION
                    <i class="fas fa-caret-right ml-1"></i>
                </button>
            </div>
        </figure>
    </article>
</section>

<section class="ladyboss-earnit-reg-hereswrap">
    <article class="container">
        <figure class="row">
            <div class="col-12">
                <div class="card">
                    <h2 class="color-brand text-center">Here’s Everything You Get</h2>
                    <h4 class="color-black text-center today-text">When You Sign Up To Become A LadyBoss Champion Today!
                    </h4>
                    <div class="text-center my-3">
                        <img class="img-fluid"
                            src="https://statics.myclickfunnels.com/image/350301/file/771c9d465ce078ee77a919cb6537beac.svg"
                            width="150">
                    </div>
                    <img class="img-fluid cham-img"
                        src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/620180/file/9bcc16d4c2323fb4ee346cfa841c1b0f.png">
                    <div class="cham-list">
                        <ul>
                            <!-- <li>Champion Membership PLUS<span class="mb-hide">..................................................... <b class="color-green">FREE TODAY!</b></span></li>
                            <li>Boxes of LEAN with 20 servings<span class="mb-hide">.................................................. <b class="color-green">FREE TODAY!</b></span></li> -->
                            <li>Pocket Personal Trainer<span class="mb-hide">.................................................................. <b class="color-green">FREE TODAY!</b></span></li>
                            <li>Complete Digital Library (7 Programs!)<span class="mb-hide">.............................. <b class="color-green">FREE TODAY!</b></span></li>
                            <li>Digital Shakebook Cookbook<span class="mb-hide">...................................................... <b class="color-green">FREE TODAY!</b></span></li>
                            <li>Big Fat Lies Audiobook<span class="mb-hide">..................................................................... <b class="color-green">FREE TODAY!</b></span></li>
                            <li>Goal Setting Workshop<span class="mb-hide">.................................................................... <b class="color-green">FREE TODAY!</b></span></li>
                          </ul>
                    </div>
                    <h4 class="color-brand text-center nor-price">Normally: <span>$<del>1,321</del> value</span></h4>
                    <h2 class="text-center color-green today-free">TODAY: <b>FREE!!!</b></h2>
                    <h4 class="color-black text-center when-text">…when you become a LadyBoss Champion Today!</h4>
                    <div>
                        <img class="img-fluid bonus-img"
                            src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/627366/file/894624447d7b9795faaedde61108343c.png">
                    </div>
                </div>
            </div>
        </figure>
    </article>
</section>

<section id="howToBecomechampion" class="ladyboss-earnit-reg-becomechampion">
    <article class="container">
        <figure class="row justify-content-center">
          <div class="col-12 text-center">
              <h1 class="color-brand">Here’s How To Become A LadyBoss Champion!</h1>
              <p class="color-black">(…So You Can Start To “Earn Your Cake” While Eating It, Too!)</p>
              <h4 class="color-black my-2">Choose Which Package Is Right For You Below</h4>
          </div>
            <div class="package-choose">
              <div class="row">
                  <div class="col-12 col-sm-4">
                      <div class="card text-center">
                          <h3 class="color-black fw-800">2 Pack</h3>
                          <h6 class="color-brand">1 + 1</h6>
                          <img class="img-fluid"
                              src="assets/ladyboss/images/image-2Pack.png"
                              height="220">
                          <h4 class="color-brand">$147</h4>
                          <h2 class="color-black">+$97/yr</h2>
                          <button (click)="onClickAddToCart(0)"
                              class="button fw-800 button-large button-primary button-green">
                              <i class="fa-solid fa-cart-plus"></i> Add To Cart
                          </button>
                      </div>
                  </div>

                  <div class="col-12 col-sm-4">
                      <div class="card text-center box-shaw">
                          <h3 class="color-black fw-800">4 Pack</h3>
                          <h6 class="color-brand">2 + 2</h6>
                          <img class="img-fluid"
                              src="assets/ladyboss/images/image-4Pack.png"
                              height="220">
                          <h4 class="color-brand">$277</h4>
                          <h2 class="color-black">+$97/yr</h2>
                          <button (click)="onClickAddToCart(1)"
                              class="button fw-800 button-large button-primary button-green">
                              <i class="fa-solid fa-cart-plus"></i> Add To Cart
                          </button>
                      </div>
                  </div>

                  <div class="col-12 col-sm-4">
                      <div class="card text-center">
                          <h3 class="color-black fw-800">6 Pack</h3>
                          <h6 class="color-brand">3 + 3</h6>
                          <img class="img-fluid"
                              src="assets/ladyboss/images/image-6Pack.png"
                              height="220">
                          <h4 class="color-brand">$397</h4>
                          <h2 class="color-black">+$97/yr</h2>
                          <button (click)="onClickAddToCart(2)"
                              class="button fw-800 button-large button-primary button-green">
                              <i class="fa-solid fa-cart-plus"></i> Add To Cart
                          </button>
                      </div>
                  </div>
              </div>
              <p class="mt-4 text-center color-brand underline">
                <a
                  (click)="onClickPromoterFee()"
                  class="pointer"
                >
                  <i>Add Champion Membership fee to cart without purchasing a Champion Pack</i>
                </a>
              </p>
          </div>
        </figure>
    </article>
</section>