<main class="sk-product" [style.margin-top.px]="discountHeight">
  <ng-container
    *ngIf="
      (product | json) !== '{}' && isUserCanAccess && !isRedirectionStarted;
      else checkUser
    "
  >
    <div
      *ngIf="product.headerBgImage && product.headerImage"
      [style.background-image]="'url(' + product.headerBgImage + ')'"
      [style.margin-top.px]="tenant === 'pruvit' ? -discountHeight : 0"
      [style.margin-bottom.px]="tenant === 'pruvit' ? discountHeight : 0"
      class="product-banner-header"
    >
      <img
        *ngIf="product.headerImage"
        [src]="product.headerImage"
        class="img-fluid"
      />
    </div>
    <app-form [newProduct]="product">
    </app-form>
    <app-info [productSlug]="product.name"></app-info>
  </ng-container>

  <ng-template #checkUser>
    <app-loader
      *ngIf="
        (product | json) !== '{}' && !isUserCanAccess && isRedirectionStarted;
        else isRestricted
      "
    ></app-loader>
  </ng-template>

  <ng-template #isRestricted>
    <app-access-restricted
      [accessLevelTitle]="accessLevelTitle"
      [accessLevels]="product.accessLevels"
      *ngIf="
        (product | json) !== '{}' &&
          !isUserCanAccess &&
          !isRedirectionStarted &&
          isLoggedIn;
        else noUser
      "
    ></app-access-restricted>
  </ng-template>

  <ng-template #noUser>
    <app-special-login
      [accessLevelTitle]="accessLevelTitle"
      [accessLevels]="product.accessLevels"
      *ngIf="
        (product | json) !== '{}' &&
          !isUserCanAccess &&
          !isRedirectionStarted &&
          !isLoggedIn;
        else notFound
      "
    ></app-special-login>
  </ng-template>
</main>

<ng-template #notFound>
  <app-error404></app-error404>
</ng-template>
