<div *ngIf="!loader" class="modal-body">
  <div class="card modal-body-card">
    <div
      (click)="selectAddress(address, false)"
      class="form-check form-check--flex py-3"
      *ngFor="let address of confirmedAddresses; let i = index"
    >
      <input
        class="form-check-input"
        type="radio"
        name="confirmAddressRadio"
        id="confirmAddressRadio{{ i }}"
      />
      <label class="form-check-label" for="confirmAddressRadio{{ i }}">
        {{ address.title }}
      </label>
    </div>
    <div
      (click)="selectAddress(address, true)"
      class="form-check form-check--flex py-3"
    >
      <input
        class="form-check-input"
        type="radio"
        name="confirmAddressRadio"
        id="confirmAddressRadio99"
      />
      <label class="form-check-label" for="confirmAddressRadio99">
        {{ "keep-original-address" | translate }}
      </label>
    </div>
  </div>
</div>

<div *ngIf="!loader" class="modal-footer">
  <button class="button button--default button--grey" (click)="cancel()">
    {{ "cancel" | translate }}
  </button>
  <button
    class="button button--default"
    (click)="createAddressProfile()"
    [disabled]="loading"
  >
    <span *ngIf="!loading">{{ "save" | translate }}</span>
    <span *ngIf="loading">{{ "saving" | translate }}</span>
  </button>
</div>
<app-loader *ngIf="loader" class="payment--loader"></app-loader>
