<section class="ladyboss-5servings-header">
  <article class="container">
      <figure class="row">
          <div class="col-12">
              <div class="d-flex justify-content-between">
                  <img src="https://statics.myclickfunnels.com/image/555085/file/3761f9a96ceb263ef6d89e2ca544be61.png" class="img-fluid logo">
              </div>
          </div>
      </figure>
  </article>
</section>

<section class="ladyboss-5servings-claim-wrap">
  <article class="container">
      <figure class="row">
          <div class="col-12">
              <div class="inner-content d-flex justify-content-center">
                  <div class="left-col">
                      <h2 class="color-white">Claim Your Cake NOW!</h2>
                      <h4 class="text-center"><i class="far fa-clock color-white mr-2"></i>Hurry, this offer expires when the timer reaches zero:</h4>
                  </div>

                  <div class="right-col">
                      <div class="servings enroll-end d-flex align-items-center justify-content-center">
                          <div class="invite-timer color-white" [innerHTML]="timer | inviteTimer: '5servings' | async">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </figure>
  </article>
</section>

<section class="ladyboss-5servings-special-offer">
  <article class="container">
      <figure class="row">
          <div class="col-md-6 col-12 text-center">
              <p class="color-black">I get that you don’t want to go with a big box of LEAN right away <i>so how about this:</i></p>
              <h2 class="color-black">5 Servings of LEAN</h2>
              <h1 class="color-brand">for just $17!</h1>
              <h3>That’s one for each day of the Cake Challenge... <i>it’s a no-brainer!</i></h3>
          </div>

          <div class="col-md-6 col-12 text-center">
              <img class="img-fluid lean-img" src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/564343/file/e2428dfe38508e672e6d3b078496c432.png">
              <button (click)="ScrollIntoView()" class="button fw-800 button-large button-primary button-green"><i class="fa-solid fa-cart-plus mr-1"></i> Add To Cart </button>
          </div>
      </figure>
  </article>
</section>

<section class="ladyboss-5servings-vipaccess">
  <article class="container">
      <figure class="row">
          <div class="col-12">
              <h3 class="color-brand text-center"><span><i>PLUS: </i></span>You’ll get <u>VIP access</u></h3>
              <h4 class="color-black text-center">for the entire Cake Challenge!</h4>
              <div class="row">
                  <div class="col-12 col-sm-4">
                      <div class="card">
                          <img class="img-fluid"src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/617083/file/9ea115d0b9abea8eb4ba2c10d1b29686.png">
                          <p class="color-black"><b>Five servings</b> of insanely delicious Vanilla Cake LEAN designed for women and backed by science</p>
                      </div>
                  </div>

                  <div class="col-12 col-sm-4">
                      <div class="card">
                          <img class="img-fluid"src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/617082/file/8554dff75b04b614e382527ab2d7e6c4.png">
                          <p class="color-black"><b>Exclusive VIP backstage pass</b> to hang and chat with me each day</p>
                      </div>
                  </div>

                  <div class="col-12 col-sm-4">
                      <div class="card">
                          <img class="img-fluid"src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/620043/file/88373d7a856115d894d52f491b439d23.png">
                          <p class="color-black"><b>Pocket Personal Trainer</b> to help boost your results with easy-to-follow exercises (for VIPs ONLY)</p>
                      </div>
                  </div>
              </div>
              <p class="desp-text">Once you see how fun, easy, and delicious the recipes I’m going to share are, you will DEFINITELY want your own stash of LEAN. I mean, it’s called the Cake Challenge . . . you gotta have CAKE! 😆</p>
          </div>
      </figure>
  </article>
</section>

<section id="ladyboss5servingsTrial5Pack" class="ladyboss-5servings-trial5Pack">
  <article class="container">
      <figure class="row">
          <div class="col-12">
              <div class="inner-content d-flex justify-content-center">
                  <div class="left-col text-center">
                      <h3 class="color-black"><i class="far fa-clock color-white mr-2"></i>Order your Trial 5-Pack of LEAN today</h3>
                      <h2 class="color-brand">and get instant <u>VIP access!</u></h2>
                      <h4 class="color-brand"><i class="far fa-clock mr-2"></i>Hurry, this offer expires when the timer reach zero:</h4>
                  </div>

                  <div class="right-col">
                      <div class="servings enroll-end pink-bg d-flex align-items-center justify-content-center">
                          <div class="invite-timer color-brand" [innerHTML]="timer | inviteTimer: '5servings' | async">
                          </div>
                      </div>
                  </div>
              </div>

              <div class="day28-wrap">
                  <div class="form-border">
                      <div class="form-group form-check custom-checkbox">
                          <input (click)="onClickOfferCheckBox()" type="checkbox" id="offerFormCheckAgree" class="form-check-input">
                          <label for="offerFormCheckAgree" class="form-check-label disclaimer-reg pointer"> 28 days later you’ll be placed on auto-ship of 1 Box of Lean / $67 per month. You can cancel a
                              any time. I also agree to the <a target="_blank" href="https://ladyboss3844.zendesk.com/hc/en-us/articles/12188684698253-Lady-Boss-Privacy-Policies" class="color-black font-bold">Privacy, </a>
                              <a target="_blank" href="https://ladyboss3844.zendesk.com/hc/en-us/articles/11300548017805-TERMS-OF-SERVICE" class="color-black font-bold">Terms</a> and <a target="_blank" href="https://ladyboss3844.zendesk.com/hc/en-us/articles/11300472189837-Statement-of-Policies-Procedures" class="color-black font-bold">Policies and Procedures</a> of Ladyboss. 
                          </label>
                      </div>
                  </div>
                  <button 
                    [disabled]="!isOfferChecked" 
                    (click)="onClickBuyNowOfferProduct()" 
                    class="button button-large button-primary button-green"
                    >
                    <i class="fa-solid fa-cart-plus mr-1"></i> Get 5 Servings of Lean + VIP Access! 
                  </button>
              </div>

              <div class="dont-forget-wrap">
                 <div class="inner-wrap d-flex align-items-center justify-content-betweens">
                      <div class="left-img">
                         <img class="img-fluid" src="https://images.clickfunnels.com/cdn-cgi/image/f=auto,q=80/https://statics.myclickfunnels.com/image/564230/file/f8e2e248bc68c1c42bd92ca776eaef33.png">
                      </div>

                      <div class="center-text">
                         <h3 class="color-brand text-center">Don't Forget!</h3>
                         <h4 class="color-black">You're Still Covered By Our No-Nonsense, 30-Day Money Back Guarantee!</h4>
                     </div>

                     <div class="right-text">
                          <p class="text-center">There’s literally <b>ZERO</b> risk for you to try out LEAN today! <b>What are you waiting for?!?</b> Your taste-buds are like, “Come oooooooon, we want this!!”</p>
                     </div>
                  </div>
              </div>
          </div>
      </figure>
  </article>
</section>

<p class="ladyboss-5servings-customer-review mb-hide"></p>