<main
  [style.margin-top.px]="discountHeight"
  *ngIf="selectedCountry !== 'GB' && selectedCountry !== 'CH'; else notFound"
>
  <section class="promoter-wrapper">
    <section class="promoter-banner text-center">
      <article class="container">
        <figure class="row justify-content-center">
          <div class="col-sm-12">
            <div *ngIf="tenant === 'pruvit'">
              <h1 class="jumbo-text-big title">
                {{ "become-a-promoter" | translate }}
              </h1>
              <p class="subtitle">
                {{ "join-the-pursuit-of-better" | translate }}
              </p>
            </div>

            <div *ngIf="tenant === 'ladyboss'">
              <h1 class="jumbo-text-big title">Become a ladyboss</h1>
              <p class="subtitle">
                LadyBosses come in all shapes and sizes thats why we offer
                different options to fit exactly how you want to express your
                inner LadyBoss.
              </p>
            </div>
          </div>

          <div
            class="col-sm-12 col-md-4"
            *ngFor="let product of promoterProducts"
          >
            <div
              class="pr-card"
              [class.best-value]="product.isMostPopular"
              [class.max]="!isPromoterMini(product)"
            >
              <div class="pr-img">
                <img
                  [src]="
                    product.promoterPageImageUrl !== ''
                      ? product.promoterPageImageUrl
                      : isPromoterMini(product)
                      ? 'assets/images/MINI_m1.png'
                      : 'assets/images/MAX_m1.png'
                  "
                  alt="img"
                  class="img-fluid"
                />
              </div>
              <div *ngIf="tenant === 'ladyboss'">
                <h6 class="best-value-text">Best Value</h6>
                <h2
                  class="color-brand"
                  [innerHTML]="
                    product.promoterTitle !== ''
                      ? product.promoterTitle
                      : 'Customer Kit'
                  "
                ></h2>
                <h3 class="color-black">{{ product.promoterSubtitle }}</h3>
              </div>

              <div *ngIf="tenant === 'pruvit'">
                <p
                  [innerHTML]="
                    product.promoterTitle !== ''
                      ? product.promoterTitle
                      : 'Brand Builder'
                  "
                ></p>

                <h1
                  class="jumbo-text-big"
                  [style.color]="product.promoterGradientColor1"
                >
                  {{ product.promoterSubtitle }}
                </h1>
                <!-- <span class="membership">
                  {{ "from" | translate }} {{ productSettings.currencySymbol
                  }}{{
                    getPromoterStartingPrice(product)
                      | customCurrency : productSettings
                  }}
                  + {{ productSettings.currencySymbol
                  }}{{ getPromoterFee() | customCurrency : productSettings }}
                  {{ "annual-membership" | translate }}
                </span> -->
                <span class="membership">
                  {{ "from" | translate }} {{ productSettings.currencySymbol
                  }}{{
                    getPromoterStartingPrice(product)
                      | customCurrency : productSettings
                  }}
                  + {{ "annual-membership-fee" | translate }}
                </span>
                <p
                  class="popular"
                  [ngStyle]="{ color: product.promoterGradientColor2 }"
                  *ngIf="product.isMostPopular"
                >
                  {{ "most-popular" | translate }}
                </p>
              </div>

              <div class="inner">
                <ul class="pr-list" *ngIf="product.bannerDiscription !== ''">
                  <li
                    class="list-item"
                    *ngFor="
                      let benefit of getPromoterBenefits(
                        product.bannerDiscription
                      );
                      let i = index
                    "
                  >
                    <ng-container *ngIf="tenant === 'ladyboss'">
                      {{ benefit.trim() }}
                    </ng-container>
                    <ng-container *ngIf="tenant === 'pruvit'">
                      <strong *ngIf="i === 0"> {{ benefit.trim() }} </strong>
                      <ng-container *ngIf="i !== 0">
                        {{ benefit.trim() }}
                      </ng-container>
                      <a
                        *ngIf="i === 0 && product.promoterTooltipNote !== ''"
                        class="large-tooltip"
                        data-toggle="tooltip"
                        [attr.data-placement]="getTooltipPlacement()"
                        data-html="true"
                        data-template="<div class='tooltip' role='tooltip'><div class='arrow'></div><div class='promoter-pack tooltip-inner'></div></div>"
                        [title]="product.promoterTooltipNote"
                      >
                        <i class="fad fa-info-circle"></i>
                      </a>
                    </ng-container>
                  </li>
                </ul>
                <a
                  *ngIf="tenant === 'pruvit'"
                  (click)="onClickPromoter(product)"
                  class="button button-primary buy-now"
                  [style.background]="
                    'linear-gradient(91.49deg,' +
                    product.promoterGradientColor1 +
                    ' 1.62%,' +
                    product.promoterGradientColor2 +
                    ' 100%)'
                  "
                >
                  <!-- {{
                    (isPromoterMini(product)
                      ? "lets-get-started"
                      : "im-ready-to-go"
                    ) | translate
                  }} -->
                  {{"select" | translate}}
                </a>
                <a
                  *ngIf="tenant === 'ladyboss' && product.promoterBtnUrl === ''"
                  (click)="onClickPromoter(product)"
                  class="button button-primary"
                  [class.button-border]="!product.isMostPopular"
                >
                  {{
                    product.promoterBtnLabel !== ""
                      ? product.promoterBtnLabel
                      : "Order Now!"
                  }}
                </a>
                <a
                  *ngIf="tenant === 'ladyboss' && product.promoterBtnUrl !== ''"
                  (click)="onClickPromoterDetailPage(product)"
                  class="button button-primary"
                  [class.button-border]="!product.isMostPopular"
                >
                  {{
                    product.promoterBtnLabel !== ""
                      ? product.promoterBtnLabel
                      : "Order Now!"
                  }}
                </a>
              </div>
            </div>
          </div>

          <div
            class="limited-time-offer-wrap"
            *ngIf="
              limitedPromoterProducts.length > 0 &&
              limitedPromoterMarkets &&
              tenant === 'pruvit'
            "
          >
            <h3 class="text-center color-black">
              {{ "limited-time-offer" | translate }}
            </h3>
            <p class="text-center color-gray sub-text">
              {{ "join-the-dollar-keto-club" | translate }}
              {{ "from" | translate }}
              {{ productSettings.currencySymbol
              }}{{
                limitedPromoterStartingPrice | customCurrency : productSettings
              }}
              {{ "plus" | translate }} {{ productSettings.currencySymbol
              }}{{ getPromoterFee() | customCurrency : productSettings }}
              annual membership.
            </p>
            <div class="row">
              <ng-container
                *ngFor="let product of limitedPromoterProducts; let i = index"
              >
                <div
                  class="col-md-6 col-6"
                  [ngClass]="{
                    'sk-main__custom-pad-l': (i + 1) % 2 !== 0,
                    'sk-main__custom-pad-r': (i + 1) % 2 === 0
                  }"
                >
                  <app-product-card
                    [product]="product"
                    [isPromoter]="true"
                    #child
                  ></app-product-card>
                </div>
              </ng-container>
            </div>
          </div>

          <p *ngIf="tenant === 'pruvit'" class="pr-addcart">
            <a
              (click)="onClickPromoterFee()"
              [ngStyle]="{
                visibility:
                  !isAsianMarkets
                    ? 'visible'
                    : 'hidden'
              }"
              class="pointer"
            >
              {{ "add-promoter-membership-fee-to-cart" | translate }}
            </a>
          </p>
        </figure>
      </article>
    </section>
    <!-- END of promoter-banner -->
  </section>
</main>

<ng-template #notFound>
  <app-error404></app-error404>
</ng-template>
