.shopketo-me-wraper .blur-me-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 46%;
  filter: blur(25px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.shopketo-me-wraper .blur-me-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
}

.shopketo-me-wraper .container {
  max-width: 380px;
}

.shopketo-me-wraper .container .shopketo-me-slider {
  margin: 0;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item {
  padding: 30px 10px;
  overflow-y: auto;
  display: grid;
  align-items: center;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card {
  background: #ffffff;
  padding: 26px;
  border-radius: 10px;
  border: none;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card h3 {
  font-size: 28px;
  line-height: 32px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .ref-img {
  margin-bottom: 16px;
  position: relative;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .ref-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .social-icon {
  margin: 24px 0 16px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .social-icon a {
  max-width: 24px;
  margin: 0 5px;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .social-icon a:hover {
  transform: scale(1.14);
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .social-icon a img {
  width: 100%;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card .details {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.025em;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .video-greeting-wrap .video-wrap {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .video-greeting-wrap .video-wrap img {
  width: 100%;
  height: 580px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .video-greeting-wrap .video-wrap .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 86px;
  height: 110px;
  width: 110px;
  line-height: 106px;
  margin-right: 0;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .video-greeting-wrap .video-wrap .play-icon:hover,
.shopketo-me-wraper .container .shopketo-me-slider .me-item .video-greeting-wrap .video-wrap .play-icon:focus {
  background-color: #f34d6e;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card {
  border-radius: 12px;
  border: none;
  padding: 16px 32px 16px 16px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list {
  margin: 0;
  padding: 0;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li {
  position: relative;
  list-style: none;
  padding: 7px 0 12px;
  border-bottom: 1px solid #f5f5f5;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li::before {
  content: "\e09f";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  color: rgba(3, 12, 33, 0.239216);
  font-size: 18px;
  font-weight: 300;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li a {
  text-decoration: none;
  font-family: acumin-pro, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li a:hover,
.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li a:focus {
  text-decoration: underline;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider {
  margin: 0 -4px;
  padding: 0;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd {
  padding: 5px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product {
  padding: 16px;
  margin-bottom: 0;
  border-radius: 10px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .sk-main__product-img {
  height: initial;
  width: initial;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .sk-main__product-img img {
  height: 98px;
  width: 102px;
  object-fit: cover;
  margin: 0 auto;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .sk-main__product-details {
  height: 66px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .sk-main__product-details .sk-main__product-title {
  height: initial;
  font-size: 14px;
  line-height: 14px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .sk-main__product-details .sk-main__product-from {
  font-size: 12px;
  line-height: 18px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .buy-now {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0;
  padding: initial;
  letter-spacing: 0.025em;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .sold-out h4 {
  min-height: 36px;
  line-height: 36px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .buy-now:hover {
  background-color: #f34d6e;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap h3 {
  font-size: 24px;
  line-height: 28px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card {
  border-radius: 20px;
  border: none;
  padding: 22px 20px 30px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card h3 {
  margin-bottom: 16px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group {
  margin-bottom: 8px;
  position: relative;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-control {
  color: #000000;
  background: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: 5px;
  padding: 12px;
  height: 48px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-control.custom-select {
  background: #f5f5f5 url(../images/icon.svg) no-repeat;
  background-position: center right 15px;
  color: #000000;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.p-right {
  padding-right: 5px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.p-left {
  padding-left: 5px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .form-control {
  padding-left: 65px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown {
  position: absolute;
  top: 15px;
  left: 13px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown .dropdown-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown .dropdown-btn img {
  width: 20px;
  height: 16px;
  object-fit: cover;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown .dropdown-btn i {
  font-size: 20px;
  margin-left: 8px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown .dropdown-menu {
  padding: 0;
  margin-top: 8px;
  overflow: hidden;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown .dropdown-menu .dropdown-item {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group.phone .dropdown .dropdown-menu .dropdown-item img {
  width: 20px;
  height: 16px;
  object-fit: cover;
  margin-right: 5px;
  display: inline-block;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-check-input {
  margin-top: 10px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .button-icon {
  background-color: #ff5a7b;
  height: 48px;
  margin-top: 5px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .button-icon::after {
  content: "\f30b";
  right: 16px;
  font-size: 18px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .button-icon:hover {
  background-color: #f34d6e;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch {
  border: none;
  padding: 30px;
  border-radius: 20px;
  margin-top: 16px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .btns-group {
  align-items: center;
  gap: 13px;
  margin: 32px 0;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .btns-group .sk-pruver__btn {
  margin: 0 !important;
  box-shadow: 0px 9px 24px rgba(19, 19, 19, 0.1);
  text-decoration: none;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .btns-group .sk-pruver__btn:hover {
  background-color: #f7f7f7;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .social-icon {
  margin-bottom: 6px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .social-icon a {
  color: #ffffff;
  font-size: 18px;
  margin: 0 8px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .social-icon a:hover,
.shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .social-icon a:focus {
  color: #000000;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-track {
  display: flex;
  align-items: center;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow {
  width: 56px;
  height: 56px;
  top: initial;
  bottom: -102px;
  box-shadow: 0 4px 4px #00000040;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-prev:before,
.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-next:before {
  font-family: "Font Awesome 6 Pro";
  color: #ffffff;
  opacity: 1;
  font-size: 22px;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow:hover {
  box-shadow: 0 0 4px #00000040;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-prev {
  left: 10px;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-next {
  right: 10px;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-prev:before {
  content: "\f053";
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-next:before {
  content: "\f054";
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-disabled {
  display: none !important;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 20;
  max-width: 230px;
  transform: translateX(-50%);
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown {
  width: 100%;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle {
  max-width: 215px;
  min-width: 215px;
  margin: 0 auto 29px;
  color: #000;
  background: #f0f1f2;
  border-radius: 5px;
  padding: 10px 12px;
  font-family: acumin-pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.025em;
  border: none;
  box-shadow: none;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle:hover {
  background: #e2e2e2;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle::after {
  content: "\f106";
  font-family: "Font Awesome 6 Pro";
  color: #000;
  font-size: 22px;
  margin-left: 10px;
  font-weight: 300;
  position: absolute;
  bottom: 8px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu {
  width: 100%;
  border: none;
  padding: 0;
  border-radius: 16px;
  box-shadow: 0 0 0 99999px #0006;
  min-width: 320px;
  left: 50% !important;
  transform: translate(-50%, -272px) !important;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu li {
  width: auto;
  height: auto;
  display: block;
  padding: 8px 10px;
  margin: 0;
  border-bottom: 2px solid #f5f5f5;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu li button {
  width: 100%;
  height: auto;
  font-family: acumin-pro, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #131313;
  border: none;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu li button:before {
  content: none;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu li:last-child {
  border-bottom: none;
}

.shopketo-me-wraper {
  position: relative;
}

.shopketo-me-wraper::before {
  background: #fff;
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 98px;
  border-top: 1px solid #e1e1e1;
}

.referrer-home .footer-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle[aria-expanded="true"]:after {
  transform: rotateX(180deg);
}

.referrer-home button.btn-approve {
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 29px;
  padding: 5px 16px 9px;
  border-radius: 50px;
  letter-spacing: -0.25px;
  text-transform: initial;
  z-index: 10;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap h4 {
  font-size: 14px;
  line-height: 18px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .locked-states-text p {
  font-size: 12px;
  line-height: 14px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .locked-states {
  width: 36px;
  height: 36px;
  font-size: 14px;
  padding: 6px;
  top: 24px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .locked-states-text h4 {
  font-size: 12px;
  margin-bottom: 0;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .locked-states-text {
  margin-top: -5px;
}

.shopketo-me-wraper .container .shopketo-me-slider .me-item .my-favorite-products-wrap .favoritePrd-slider .sk-category__custom-padd .sk-main__product .button.button-icon.button-waitlist::after {
  left: 10px;
  font-size: 16px;
  margin: 0;
}

/*---------Dark theme---------*/
.dark-theme .shopketo-me-wraper::before,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card {
  background-color: #1c1c1e;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-control {
  background-color: #131313;
  border-color: #131313;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-control,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle::after,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu li button {
  color: #fff;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .dropdown-menu li {
  border-color: #91919233;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li::before {
  color: rgba(255, 255, 255, 0.4);
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle {
  background-color: #47474a;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle:hover {
  background-color: #626262;
}

.dark-theme .shopketo-me-wraper:before {
  border-color: #9191924d;
}

.dark-theme .shopketo-me-wraper::before,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .about-me-card,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card {
  background-color: #1c1c1e;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-control {
  background-color: #131313;
  border-color: #131313;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .request-info-card .card-inner-info .form-group .form-control,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle,
.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle::after {
  color: #fff;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li {
  border-color: rgba(145, 145, 146, 0.2);
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .me-item .my-links-wrap .card .my-link-list li::before {
  color: rgba(255, 255, 255, 0.4);
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle {
  background-color: #47474a;
}

.dark-theme .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle:hover {
  background-color: #626262;
}

@media (max-width: 767px) {
  .shopketo-me-wraper .container .shopketo-me-slider .me-item .contact-me-wrap .get-in-touch .btns-group {
    margin: 20px 0;
  }

  .shopketo-me-wraper .container .shopketo-me-slider .slick-arrow {
    bottom: -16px;
    position: fixed;
  }

  .shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-prev {
    left: 16px;
  }

  .shopketo-me-wraper .container .shopketo-me-slider .slick-arrow.slick-next {
    right: 16px;
  }

  .referrer-home button.btn-approve {
    right: 16px;
    bottom: 88px;
  }
}

@media (max-width: 640px) {
  .shopketo-me-wraper .container {
    max-width: 100%;
  }

  .shopketo-me-wraper .container .shopketo-me-slider .me-item {
    padding: 15px;
    align-items: initial;
  }

  .shopketo-me-wraper:before {
    height: 80px;
  }

  .shopketo-me-wraper .container .shopketo-me-slider .slick-dots .slider-dropdown .dropdown-toggle {
    margin-bottom: 20px;
  }
}


/*----referrer-profile css style----*/

.limitTextHeight {
  --line-height: 1.5;
  --lines-to-show: 3;
  box-sizing: border-box;
  line-height: var(--line-height);
  overflow: hidden;
  height: calc(var(--line-height) * var(--lines-to-show) * 1em);
}

/*---- Referrer-me CSS Style ----*/

.referrer-profile.non-pro .referrer-me-leftside {
  text-align: center;
  /* margin: 50px 0; */
}

.referrer-profile.non-pro .referrer-me-leftside .profile-info {
  max-width: 370px;
  margin: 24px auto 0;
}

.referrer-profile.non-pro .referrer-me-leftside .profile-img img {
  background: transparent;
  padding: 0;
}

/* referrer-me-leftside */
.referrer-profile .referrer-me-leftside .profile-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff)) padding-box, -webkit-gradient(linear, right top, left bottom, from(#FFDF34), to(#FF4534)) border-box;
  border-radius: 128px;
  border: 4px solid transparent;
  padding: 4px;
}

.referrer-profile .referrer-me-leftside .profile-img img.no-ref-video {
  background: transparent;
}

.referrer-profile .referrer-me-leftside .name h3 {
  margin: 16px 0 0;
}

.referrer-profile .referrer-me-leftside .profile-info .p-small {
  letter-spacing: -0.015em;
}

.referrer-profile .referrer-me-leftside .profile-info {
  margin-top: 16px;
}

.referrer-profile .referrer-me-leftside .profile-info .watch-now {
  font-family: acumin-pro, sans-serif;
  text-transform: initial;
  letter-spacing: -0.015em;
  padding: 10px;
  height: 40px;
  margin: 18px 0 24px;
}

.referrer-profile .referrer-me-leftside .profile-info .btn-gray {
  background-color: #030c210f;
  border-radius: 5px;
  padding: 7px 10px;
  max-width: 100%;
  width: 100%;
}

.referrer-profile .referrer-me-leftside .profile-info .btn-gray:hover {
  background-color: rgba(3, 12, 33, 0.12);
}

.referrer-profile .referrer-me-leftside .profile-info .d-flex.justify-content-between {
  gap: 24px;
}

.referrer-profile .referrer-me-leftside .dropdown {
  width: 100%;
}

.referrer-profile .referrer-me-leftside .dropdown .icon-size {
  font-size: 19px;
  margin-left: 8px;
}

.referrer-profile .referrer-me-leftside .dropdown .dropdown-menu.dropdown-bg {
  border: 1px solid rgba(3, 12, 33, 0.121569);
  background-color: #FFFFFF;
  box-shadow: 0px 11px 13px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 4px 0;
}

.referrer-profile .referrer-me-leftside .dropdown .dropdown-menu.dropdown-bg a.dropdown-item {
  padding: 2px 12px 7px 14px;
}

.referrer-profile .referrer-me-leftside .dropdown .dropdown-menu.dropdown-bg a.dropdown-item i {
  margin-right: 12px;
}

.referrer-profile .referrer-me-leftside .social-icon {
  gap: 10px;
  margin: 20px 0;
}

.referrer-profile .referrer-me-leftside .social-icon img {
  height: 32px;
  width: 32px;
}

.referrer-profile .referrer-me-leftside a:hover {
  color: inherit;
}

.me-item .page-title {
  font-size: 24px;
  line-height: 29px;
}

.referrer-profile .me-item .my-links-wrap .card {
  border-radius: 12px;
  border: none;
  padding: 0 16px;
  margin-top: 20px;
  margin-bottom: 47px;
}

.referrer-profile .me-item .my-links-wrap .card .my-link-list {
  list-style: none;

}

.referrer-profile .me-item .my-links-wrap .card .my-link-list li {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  border-bottom: 1px solid rgba(3, 12, 33, 0.121569);
  padding: 15px 0;
}

.referrer-profile .me-item .my-links-wrap .card .my-link-list li:last-child {
  border-bottom: 0;

}

.referrer-profile .me-item .my-links-wrap .card .my-link-list li a {
  text-decoration: none;
}

.referrer-profile .me-item .my-links-wrap .card .my-link-list li a .right-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 21px;
  color: rgba(3, 12, 33, 0.239216);
}

.my-favorite-products-wrap .sk-category__products {
  margin-left: -15px;
  margin-right: -15px;
}

.referrer-profile .referrer-right-col {
  padding-bottom: 100px;
  padding-left: 32px;
}


/*----referrer-contact-modal css style----*/
.referrer-contact-modal .sk-pruver__body {
  padding: 20px 21px;
}

.referrer-contact-modal .contact-me-wrap .request-info-card .card-inner-info.contact-form-wrap btn.button {
  font-family: acumin-pro, sans-serif;
  text-transform: initial;
}

.referrer-contact-modal .contact-me-wrap .request-info-card .profile-img img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100px;
  background: #D8D8D8;
}

.referrer-contact-modal .contact-me-wrap .request-info-card .font28 {
  font-size: 28px;
  line-height: 34px;
  margin-top: 15px;
}

.referrer-contact-modal .contact-me-wrap .request-info-card .font28 .lime-color {
  color: #00D25C;
}

.referrer-contact-modal .contact-me-wrap .request-info-card .details-text {
  max-width: 249px;
  margin: 0 auto;
  line-height: 22px;
  letter-spacing: -0.015em;
}

.referrer-contact-modal .contact-me-wrap {
  max-width: initial;
  margin: 0 auto;
  padding: 0;
}

.referrer-contact-modal .profile-wrap {
  max-width: fit-content;
  margin: 0 auto;
}

.referrer-contact-modal .modal-dialog .modal-content .modal-header .modal-close {
  color: rgba(3, 12, 33, 0.721569);
  font-size: 24px;
}

.referrer-contact-modal .modal-dialog .modal-content .modal-header .modal-close:hover {
  color: #030c2177;
}

@media only screen and (max-width: 767px) {
  .referrer-profile {
    padding-top: 32px;
  }

  .referrer-profile .referrer-right-col {
    padding-left: 15px;
  }

  .referrer-profile .referrer-me-leftside .profile-img {
    display: flex;
    align-items: center;
  }

  .referrer-profile .referrer-me-leftside .profile-img img {
    width: 96px;
    height: 96px;
  }

  .referrer-profile .referrer-me-leftside .profile-img img.no-ref-video {
    padding: 0;
  }

  .referrer-profile .referrer-me-leftside .name {
    margin-left: 19px;
  }

  .referrer-profile .referrer-me-leftside .name h3 {
    margin: 0;
  }

  .referrer-profile .referrer-me-leftside .profile-info .watch-now {
    margin: 16px 0 0;
  }

  .referrer-profile .referrer-me-leftside .profile-info .d-flex.justify-content-between {
    gap: 16px;
    margin-top: 20px;
  }

  .referrer-profile .referrer-me-leftside .social-icon {
    margin: 15px 0;
  }

  .referrer-profile .referrer-me-leftside .social-icon img {
    height: 24px;
    width: 24px;
  }

  .referrer-profile .referrer-me-leftside.referrer-me-wrap .profile-info {
    margin: 12px 0 20px;
  }

  .referrer-profile .referrer-me-leftside {
    padding-right: 15px;
  }

  /* .referrer-contact-modal .modal-dialog .modal-content {
    border-radius: 0;
    margin-top: 150px;
    height: initial;
    padding-bottom: 100px;
  } */

  .referrer-contact-modal .contact-me-wrap .request-info-card .card-inner-info .form-group .form-check-input {
    margin-top: 0 !important;
  }

  .contact-me-wrap .request-info-card {
    padding: 0;
  }

  .referrer-contact-modal .modal-dialog {
    /* min-height: calc(100% - 0rem);
    align-items: flex-end; */
    margin: 0;
  }

}

.dark-theme .referrer-profile .referrer-me-leftside .profile-info .btn-gray {
  background-color: rgba(256, 256, 256, 0.68);
}

.dark-theme .referrer-profile .referrer-me-leftside .profile-info .btn-gray:hover {
  background-color: rgba(256, 256, 256, 0.8);
}

.dark-theme .referrer-profile .referrer-me-leftside .dropdown .dropdown-menu.dropdown-bg {
  background-color: #2c2c2e;
}

.dark-theme .me-item .page-title {
  color: #ffffff;
}

.dark-theme .referrer-profile .me-item .my-links-wrap .card {
  background-color: #1c1c1e;
}

.dark-theme .referrer-profile .me-item .my-links-wrap .card .my-link-list li {
  border-color: #47474a;
}

.dark-theme .referrer-profile .me-item .my-links-wrap .card .my-link-list li a .right-icon {
  color: #47474a;
}

.dark-theme .referrer-profile .referrer-me-leftside .profile-info .link-hover {
  color: #fff;
}

.dark-theme .referrer-contact-modal .modal-dialog .modal-content .modal-header .modal-close {
  color: #919192;
}

.dark-theme .referrer-contact-modal .modal-dialog .modal-content .modal-header .modal-close:hover,
.dark-theme .contact-me-wrap .request-info-card .contact-form-wrap .color-gray-darker {
  color: #ffffff;
}

.dark-theme .referrer-contact-modal .contact-me-wrap .request-info-card {
  background-color: transparent;
}

.dark-theme .referrer-profile .referrer-me-leftside .profile-img img {
  background: -webkit-gradient(linear, left top, left bottom, from(#000)) padding-box, -webkit-gradient(linear, right top, left bottom, from(#FFDF34), to(#FF4534)) border-box;
}

.dark-theme .referrer-profile .referrer-me-leftside .profile-img img.no-ref-video {
  background: transparent;
}