<h2 class="color-black mb-3 title-thank">{{ user?.firstName }}, {{ "thank-you" | translate | lowercase }}!</h2>
<h3 class="color-gray font-weight-normal">{{ "your-order-has-been-received" | translate }}</h3>
<recent-orders [isOrderSuccess]="true"></recent-orders>
<div *ngIf="tenant === 'pruvit'" class="rewards-wraper">
  <h3 class="color-black mb-2">{{ "referral-offers" | translate }}</h3>
  <app-refer-friend></app-refer-friend>
</div>

<ng-container *ngIf="tenant === 'ladyboss'">
  <h3 class="color-black pt-2 mb-4">{{ "what-now" | translate }}</h3>
  <div class="dashboard__grid">
    <div class="dashboard__grid__left">
      <app-referral-link></app-referral-link>
    </div>
    <div class="dashboard__grid__right"></div>
  </div>
</ng-container>