<div *ngIf="!isWebsites" class="referral__component dashboard--component">
  <div *ngIf="user && referrer">
    <div *ngIf="!isProfile">
      <p>{{ "your-unique-referral-link" | translate }}</p>
      <h5>
        <img
          *ngIf="this.tenant === 'pruvit'"
          src="assets/images/referra-pruvit.svg"
        />
        <i
          *ngIf="this.tenant === 'ladyboss'"
          class="fas fa-link color-brand mr-1"
          aria-hidden="true"
        ></i
        >{{ user.code + "." + siteName }}.<span *ngIf="this.tenant === 'pruvit'"
          >com</span
        ><span *ngIf="this.tenant === 'ladyboss'">io/5daycakechallenge</span>
        <i
          (click)="copy()"
          data-toggle="tooltip"
          title="Copy link"
          data-template="<div class='dashboard-tooltip training-center tooltip' role='tooltip'><div class='arrow top'></div><div class='tooltip-inner'></div></div>"
          class="fa-clone fa-regular {{ linkCopied ? 'hide' : '' }}"
        ></i>
        <i
          data-toggle="tooltip"
          title="Link copied"
          data-template="<div class='dashboard-tooltip training-center tooltip' role='tooltip'><div class='arrow top'></div><div class='tooltip-inner'></div></div>"
          class="color-green fa-check fa-regular {{
            !linkCopied ? 'hide' : ''
          }}"
        ></i>
      </h5>
      <h5 class="form-group" *ngIf="this.tenant === 'ladyboss'">
        <select
          [(ngModel)]="referralLink"
          class="form-control disclaimer-bold custom-select"
        >
          <option value="5daycakechallenge">
            {{ user.code.toLowerCase() + "." + siteName }}.io/5daycakechallenge
          </option>
          <option value="replay">
            {{ user.code.toLowerCase() + "." + siteName }}.io/replay
          </option>
          <option value="">
            {{ user.code.toLowerCase() + "." + siteName }}.io
          </option>
          <option value="5daycakechallenge/upgrade">
            {{ user.code.toLowerCase() + "." + siteName }}.io/5daycakechallenge/upgrade
          </option>
          <option value="champion">
            {{ user.code.toLowerCase() + "." + siteName }}.io/champion
          </option>
          <option value="lean">
            {{ user.code.toLowerCase() + "." + siteName }}.io/lean
          </option>
        </select>
      </h5>
      <div class="dashboard__buttons mb-2">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menuOrders"
          class="button button--default"
        >
          <i class="far fa-external-link mr-2"></i>{{ "share" | translate }}
        </button>
        <mat-menu
          #menuOrders="matMenu"
          xPosition="after"
          class="mat-menu--full"
        >
          <button (click)="copy()" class="mat-menu-item--custom" mat-menu-item>
            <i class="far fa-clone mr-2" aria-hidden="true"></i
            ><span>{{ "copy-link" | translate }}</span>
          </button>
          <button
            (click)="sendEmail()"
            class="mat-menu-item--custom"
            mat-menu-item
          >
            <i class="far fa-envelope mr-2" aria-hidden="true"></i
            ><span>{{ "email" | translate }}</span>
          </button>
          <button
            (click)="sendSMS()"
            class="mat-menu-item--custom"
            mat-menu-item
          >
            <i class="far fa-comment mr-2" aria-hidden="true"></i
            ><span>{{ "sms" | translate }}</span>
          </button>
          <button
            (click)="redirectFacebook()"
            class="mat-menu-item--custom"
            mat-menu-item
          >
            <i
              class="fab fa-facebook-square mr-2"
              [style.color]="tenant === 'ladyboss' ? '#f0006f' : '#1777f2'"
              aria-hidden="true"
            ></i
            ><span>{{ "facebook" | translate }}</span>
          </button>
          <button
            (click)="redirectTwitter()"
            class="mat-menu-item--custom"
            mat-menu-item
          >
            <i
              class="fab fa-twitter-square mr-2"
              [style.color]="
                tenant === 'ladyboss' ? '#f0006f' : 'rgb(0, 172, 238)'
              "
              aria-hidden="true"
            ></i
            ><span>{{ "twitter" | translate }}</span>
          </button>
        </mat-menu>
        <button
          (click)="manage()"
          class="button button--default button--grey"
          data-toggle="modal"
          data-target="#referralModal"
        >
          {{ "manage" | translate }}
        </button>
      </div>
      <p class="mb-2">{{ "your-referrer" | translate }}</p>
      <div *ngIf="referrer" class="referral__component__parent">
        <div class="referral__component__parent__information">
          <img
            *ngIf="referrer.image.imageUrl"
            src="{{ referrer.image.imageUrl }}"
          />
          <img
            *ngIf="!referrer.image.imageUrl"
            src="assets/images/avatar2.png"
          />
          <span>{{ referrer.name }}</span>
        </div>
        <div class="referral__component__parent__contact">
          <a *ngIf="referrer.phoneNumber" href="tel:{{ referrer.phoneNumber }}"
            ><i class="far fa-phone-alt"></i
          ></a>
          <a *ngIf="referrer.email" href="mailto:{{ referrer.email }}"
            ><i class="far fa-envelope"></i
          ></a>
        </div>
      </div>
    </div>
    <div
      *ngIf="isProfile"
      class="d-flex align-items-center justify-content-between"
    >
      <div>
        <p>{{ "your-unique-referral-link" | translate }}</p>
        <h5>
          <img
            *ngIf="this.tenant === 'pruvit'"
            src="assets/images/referra-pruvit.svg"
          />
          <i
            *ngIf="this.tenant === 'ladyboss'"
            class="fas fa-link color-brand mr-1"
            aria-hidden="true"
          ></i
          >{{ user.code + "." + siteName }}.<span
            *ngIf="this.tenant === 'pruvit'"
            >com</span
          ><span *ngIf="this.tenant === 'ladyboss'">io/5daycakechallenge</span>
          <i
            (click)="copy()"
            data-toggle="tooltip"
            title="Copy link"
            data-template="<div class='websites-tooltip training-center tooltip' role='tooltip'><div class='arrow top'></div><div class='tooltip-inner'></div></div>"
            class="fa-clone fa-regular {{ linkCopied ? 'hide' : '' }}"
          ></i>
          <i
            data-toggle="tooltip"
            title="Link copied"
            data-template="<div class='websites-tooltip training-center tooltip' role='tooltip'><div class='arrow top'></div><div class='tooltip-inner'></div></div>"
            class="color-green fa-check fa-regular {{
              !linkCopied ? 'hide' : ''
            }}"
          ></i>
        </h5>
      </div>
      <button
        (click)="manage()"
        style="max-width: 100px"
        class="button button--default button--grey"
        data-toggle="modal"
        data-target="#referralModal"
      >
        {{ "change" | translate }}
      </button>
    </div>
  </div>
  <app-loader *ngIf="!user || !referrer" class="payment--loader"></app-loader>
</div>

<div *ngIf="isWebsites">
  <a
    (click)="manage()"
    class="btn btn-gray"
    data-toggle="modal"
    data-target="#referralModal"
  >
    {{ "change-referral-link" | translate }}
  </a>
</div>

<div
  class="modal animate fade right-mobile addresses-modal change-referrer-code-modal"
  id="referralModal"
  tabindex="-1"
  aria-labelledby="referralModal"
  aria-hidden="true"
>
  <div class="dashboard--modal modal-dialog modal-dialog-centered">
    <div class="modal-content animate-bottom">
      <div class="modal-header flex-column gray-bg">
        <p class="w-100 d-flex justify-content-between align-items-center">
          <a
            href="#"
            data-dismiss="modal"
            aria-label="Close"
            class="modal-close mb-hide"
            ><i class="far fa-times"></i
          ></a>
          <a
            href="#"
            data-dismiss="modal"
            aria-label="Close"
            class="modal-close mb-show"
            ><i
              class="fal fa-chevron-left font-weight-normal mr-2"
              aria-hidden="true"
            ></i
            >{{ "dashboard" | translate }}</a
          >
        </p>
        <h3 class="title color-black">
          {{ "change-referral-link" | translate }}
        </h3>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <input
            type="text"
            class="form-control referrer--edit--input"
            #referrerInput="ngModel"
            pattern="^[0-9a-zA-Z]*$"
            [(ngModel)]="referrerCode"
          />
          <span class="input__pill"
            >{{ siteName }}.<span *ngIf="this.tenant === 'pruvit'">com</span
            ><span *ngIf="this.tenant === 'ladyboss'">io</span></span
          >
          <p *ngIf="errorMessage" class="text-danger referrer--alert">
            {{ errorMessage }}
          </p>
          <p
            *ngIf="referrerInput.errors?.['pattern']"
            class="text-danger text--15"
          >
            {{
              "referrer-code-should-only-contain-digits-and-english-characters"
                | translate
            }}
          </p>
          <p
            *ngIf="referrerCode && referrerCode.length > 128"
            class="text-danger text--15"
          >
            {{
              "referrer-code-should-not-be-more-than-128-characters" | translate
            }}
          </p>
          <p *ngIf="successMessage" class="text-success referrer--alert">
            {{ successMessage }}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="button button--default button--grey"
          data-dismiss="modal"
        >
          {{ "cancel" | translate }}
        </button>
        <button
          type="button"
          class="button button--default"
          (click)="checkReferrerCode()"
          [disabled]="loading || !referrerCode || referrerInput.errors?.['pattern'] || referrerCode.length > 128"
        >
          <span *ngIf="!loading">{{ "save" | translate }}</span>
          <span *ngIf="loading">{{ "saving" | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
