<template #modalcontainer> </template>

<div id="root-drawer-wrapper" class="drawer-nav">
  <div>
    <app-country-bar *ngIf="sidebarName === 'country-bar'"> </app-country-bar>

    <app-add-to-cart *ngIf="sidebarName === 'add-to-cart'"> </app-add-to-cart>

    <app-checkout-cart *ngIf="sidebarName === 'checkout-cart'">
    </app-checkout-cart>

    <app-delivery-options *ngIf="sidebarName === 'delivery-options'">
    </app-delivery-options>

    <!-- <side-navigation
      [sideBar]="true"
      *ngIf="sidebarName === 'account-menu'"
    ></side-navigation> -->

    <app-sidebar-container *ngIf="sidebarName === 'account'">
      <side-navigation [sideBar]="true"></side-navigation>
    </app-sidebar-container>

    <div *ngIf="sidebarName === ''"></div>
  </div>
</div>

<app-cookie-dialog *ngIf="isEuropeanCountry" [show]="showCookieDialog">
</app-cookie-dialog>

<app-header
  [referrer]="referrer"
  (messageEvent)="receiveSidebarName($event)"
></app-header>

<mobile-navigation *ngIf="isAuthenticated"></mobile-navigation>
<router-outlet
  (activate)="onActivate()"
  *ngIf="isLoaded && !dashboardLoader; else loader"
></router-outlet>

<div
*ngIf="isLoaded && !isAuthenticated && routePath !== '/cart'"
  class="referrer-floating-bar"
>
  <div class="inner-content row align-items-center justify-content-between">
    <div class="left-content col">
      <div class="row align-items-center">
        <button
          *ngIf="routePath === '/me'"
          routerLink="/"
          class="button button-primary button-bg floating-btn col"
        >
          <i class="fa-regular fa-house icon-size"></i>
        </button>
        <div
          *ngIf="routePath !== '/me' && referrer?.code"
          (click)="onClickReferrerImage()"
          class="login-img col pointer"
          [ngStyle]="{
            'background-image': referrer?.imageUrl
              ? 'url(' + referrer?.imageUrl + ')'
              : 'url(' + 'assets/images/avatar2.png' + ')'
          }"
        >
          <span *ngIf="referrer?.isPro && !clickedOnRefBtn" class="count">1</span>
        </div>

        <app-vi-offer></app-vi-offer>
      </div>
    </div>
    <div *ngIf="fbPageID !== ''" class="right-content test-1 col mxwdt-64">
      <div class="fb-customerchat" [attr.page_id]="fbPageID"></div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div class="navbar-overlay"></div>

<div
  class="miniplayer-wrap"
  [class.msg-popup]="fbPageID !== ''"
  *ngIf="referrerVideoId !== '' && isRootRoute"
>
  <span
    class="wistia_embed wistia_async_{{
      referrerVideoId
    }} popover=false popoverAnimateThumbnail=true videoFoam=true controlsVisibleOnLoad=false"
    >&nbsp;</span
  >

  <button
    type="button"
    class="close position-absolute"
    (click)="onClickCloseVideo()"
  >
    <i class="fas fa-times-circle"></i>
  </button>
</div>
