<figure class="color-white-bg sk-dashboard sidebar-container" [ngStyle]="{ 'touch-action': 'none' }">
 
  <figure class="drawer-nav-header top-fixed d-flex justify-content-between align-items-center">
    <h4 *ngIf="user" class="color-black drawer-title user-title-menu d-flex">
      <img class="user-img img-fluid" [src]="userAvatar" />
      <div class="cont">
        <small class="color-gray d-block">{{ 'logged-in-as' | translate }}</small>
        {{user.mvuser_name}}
      </div>
    </h4>

    <a (click)="onClickClose()" class="drawer-close-btn pointer">
      <i class="fa-regular fa-xmark"></i>
    </a>
  </figure>

  <figure class="drawer-nav-body">
    <ng-content></ng-content>
  </figure>
  
</figure>