<section class="redeem-feature-wrap">
  <article class="container">
    <figure class="row">
      <div class="col-sm-12 text-center">
        <div class="img-wrap rounded-circle">
          <span class="icon">🤐</span>
        </div>
        <h2 class="color-dark">
          {{ "this-page-is-for" | translate }} {{ accessLevelTitle }}
        </h2>
        <p class="color-black pt-2">
          👤 {{ "login-below-with-your-eligible-account" | translate }}
        </p>
        <button (click)="onLogin()" class="button button-primary buy-now-lg">
          {{ "login" | translate }}
        </button>
      </div>
    </figure>
  </article>
</section>
