<div *ngIf="tenant !== 'pruvit'" class="sk-cart color-white-bg" [ngStyle]="{ 'touch-action': 'none' }">
  <figure class="sk-cart__header d-flex justify-content-between">
    <h4 class="color-black sk-cart__header-title">
      {{ "your-cart" | translate }}
    </h4>
    <a (click)="onClickCloseCart()" class="sk-cart__close-btn pointer">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L13 13" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M13 1L1 13" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
  </figure>

  <figure *ngIf="oneTimeCart.length > 0">
    <div class="sk-cart__subtitle sk-cart__padd">
      <h5 class="sk-cart__subtitle--text color-gray">
        {{ "todays-order" | translate }} 🛒
      </h5>
    </div>

    <ng-container *ngFor="let cartTotal of cartTotalOneTime">
      <ng-container *ngIf="cartTotal?.showItem">
        <div class="cart-progress-bar sk-cart__padd" *ngIf="cartTotal.isDiscountableInCart && !cartTotal.isEnabled">
          <p class="p-small color-black" [innerHTML]="cartTotal.bannerText" [style.color]="
              cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                ? cartTotal.settings?.banner_info?.banner_bgcolor
                : '#FF9000'
            "></p>
        </div>

        <div class="cart-progress-bar sk-cart__padd" *ngIf="cartTotal.isEnabled && cartTotal.requiredPriceOrItems > 0">
          <p class="p-small color-black" [innerHTML]="cartTotal.bannerText"></p>

          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="cartTotal.progressPercent" [style.color]="
                cartTotal.settings?.banner_info?.banner_textcolor !== ''
                  ? cartTotal.settings?.banner_info?.banner_textcolor
                  : '#fff'
              " [style.backgroundColor]="
                cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                  ? cartTotal.settings?.banner_info?.banner_bgcolor
                  : '#FF9000'
              " [attr.aria-valuenow]="cartTotal.progressPercent" aria-valuemin="0" aria-valuemax="100">
              {{ cartTotal.progressPercent }}%
            </div>
          </div>
        </div>

        <div class="cart-success-bar sk-cart__padd" *ngIf="cartTotal.isUnlocked">
          <p class="p-small color-white text-center" [innerHTML]="
              cartTotal?.unlockedText !== ''
                ? cartTotal?.unlockedText
                : '🎉 ' +
                  ('youve-unlocked-a-cart-total-discount-1' | translate) +
                  ' <strong>' +
                  ('youve-unlocked-a-cart-total-discount-2' | translate) +
                  '</strong>'
            ">
            <img draggable="false" role="img" class="emoji" alt="🎉"
              src="https://s.w.org/images/core/emoji/13.0.0/svg/1f389.svg" />
          </p>
        </div>

        <div class="almost-unlocked-wrap text-center" *ngIf="cartTotal.isAlmostUnlocked">
          <p>
            {{
            cartTotal?.almostUnlockedText !== ""
            ? cartTotal?.almostUnlockedText
            : "🎉 " +
            ("youve-almost-unlocked-a-cart-total-discount" | translate)
            }}
          </p>
          <p class="text-center eligible-text">
            {{
            cartTotal?.claimText !== ""
            ? cartTotal?.claimText
            : "👀 " + ("add-an-eligible-product-to-claim-offer" | translate)
            }}
            <!-- <a (click)="onClickShopNow()">{{ "shop-now" | translate }}</a> -->
          </p>
        </div>
      </ng-container>
    </ng-container>

    <figure class="sk-cart__item-box sk-cart__padd position-relative" *ngFor="let oneTimeItem of oneTimeCart">
      <button class="sk-cart__item-close-btn position-absolute" (click)="onClickCartRemove('OneTimeCart', oneTimeItem)">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
      <div class="sk-cart__item-content d-flex">
        <div class="sk-cart__item-img">
          <img src="{{ oneTimeItem.cart.productImageUrl }}" alt="cart-item-img" class="img-fluid cart-item-img" />
        </div>

        <div class="sk-cart__item-details flex-fill">
          <p class="p-small font-bold color-black sk-cart__item-title" [innerHTML]="oneTimeItem.cart.productName"></p>
          <p class="disclaimer-reg color-gray">
            {{ oneTimeItem.cart.servingsName }} <br />
            {{ oneTimeItem.cart.caffeineState }}
          </p>

          <div class="sk-cart__item-modify d-flex justify-content-between">
            <div class="sk-cart__select-number d-flex align-items-center justify-content-between">
              <button *ngIf="oneTimeItem.cart.productID !== -1" class="sk-cart__plus-minus color-white color-brand-bg"
                (click)="onClickCartMinus('OneTimeCart', oneTimeItem)">
                <i class="fas fa-minus"></i>
              </button>
              <p class="p-small font-bold color-black">
                {{ oneTimeItem.cart.quantity }}
              </p>
              <button *ngIf="oneTimeItem.cart.productID !== -1"
                class="sk-cart__plus-minus color-white plus-icon color-brand-bg"
                (click)="onClickCartPlus('OneTimeCart', oneTimeItem)">
                <i class="fas fa-plus"></i>
              </button>
            </div>

            <h4 class="color-black" [class.color-green]="oneTimeItem?.isDiscountable">
              <del class="color-black font-reg" *ngIf="oneTimeItem?.isDiscountable">{{ currencySymbol
                }}{{
                oneTimeItem.cart.quantity * oneTimeItem.cart.price.oneTime
                | customCurrency : productSettings
                }}</del>
              {{ currencySymbol
              }}{{
              oneTimeItem.cart.quantity * oneTimeItem.finalPrice
              | customCurrency : productSettings
              }}
            </h4>
          </div>
        </div>
      </div>
      <!-- {{oneTimeItem | json}} -->
      <!-- <div *ngIf="oneTimeItem.cart.productSku.everyMonth !== ''">
        <input [checked]="hasSmartshipVariation(oneTimeItem)" (change)="addSmartshipVariation(oneTimeItem)" id="addSmartship" type="checkbox"/><label class="color-black" for="addSmartship">Add</label>
      </div> -->
    </figure>

    <figure class="sk-cart__item-box sk-cart__padd position-relative">
      <div class="sk-cart__item-content">
        <div _ class="sk-cart__item-details">
          <div class="sk-cart__item-modify mt-0">
            <h4 class="color-black" [class.color-green]="
                oneTimeCartTotalSumPrice !== oneTimeCartTotalDiscountSumPrice
              ">
              <del *ngIf="
                  oneTimeCartTotalSumPrice !== oneTimeCartTotalDiscountSumPrice
                " class="color-black font-reg">{{ currencySymbol
                }}{{
                oneTimeCartTotalSumPrice | customCurrency : productSettings
                }}</del>
              {{ currencySymbol
              }}{{
              oneTimeCartTotalDiscountSumPrice
              | customCurrency : productSettings
              }}
            </h4>
          </div>
        </div>
      </div>
    </figure>
  </figure>

  <!-- smartship start in 30 days  -->

  <figure *ngIf="everyMonthCart.length > 0">
    <div class="sk-cart__subtitle sk-cart__padd">
      <h5 *ngIf="tenant === 'ladyboss'; else defaultStartRef"
        class="sk-cart__subtitle--text color-gray text-center w-100"> Subscribe & Save 🎉 <span class="d-block">(Starts
          in 28 days)</span></h5>
      <ng-template #defaultStartRef>
        <h5 class="sk-cart__subtitle--text color-gray">
          {{ "smartship-starts-in-days" | translate }} 🚀
        </h5>
      </ng-template>
    </div>

    <ng-container *ngFor="let cartTotal of cartTotalEveryMonth">
      <ng-container *ngIf="cartTotal?.showItem">
        <div class="cart-progress-bar sk-cart__padd" *ngIf="cartTotal.isDiscountableInCart && !cartTotal.isEnabled">
          <p class="p-small color-black" [innerHTML]="cartTotal.bannerText" [style.color]="
              cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                ? cartTotal.settings?.banner_info?.banner_bgcolor
                : '#FF9000'
            "></p>
        </div>

        <div class="cart-progress-bar sk-cart__padd" *ngIf="cartTotal.isEnabled && cartTotal.requiredPriceOrItems > 0">
          <p class="p-small color-black" [innerHTML]="cartTotal.bannerText"></p>

          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="cartTotal.progressPercent" [style.color]="
                cartTotal.settings?.banner_info?.banner_textcolor !== ''
                  ? cartTotal.settings?.banner_info?.banner_textcolor
                  : '#fff'
              " [style.backgroundColor]="
                cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                  ? cartTotal.settings?.banner_info?.banner_bgcolor
                  : '#FF9000'
              " [attr.aria-valuenow]="cartTotal.progressPercent" aria-valuemin="0" aria-valuemax="100">
              {{ cartTotal.progressPercent }}%
            </div>
          </div>
        </div>

        <div class="cart-success-bar sk-cart__padd" *ngIf="cartTotal.isEnabled && cartTotal.requiredPriceOrItems <= 0">
          <p class="p-small color-white text-center" [innerHTML]="
              cartTotal?.unlockedText !== ''
                ? cartTotal?.unlockedText
                : '🎉 ' +
                  ('youve-unlocked-a-cart-total-discount-1' | translate) +
                  ' <strong>' +
                  ('youve-unlocked-a-cart-total-discount-2' | translate) +
                  '</strong>'
            ">
            <img draggable="false" role="img" class="emoji" alt="🎉"
              src="https://s.w.org/images/core/emoji/13.0.0/svg/1f389.svg" />
          </p>
        </div>
      </ng-container>
    </ng-container>

    <figure class="sk-cart__item-box sk-cart__padd position-relative" *ngFor="let everyMonthItem of everyMonthCart">
      <button class="sk-cart__item-close-btn position-absolute"
        (click)="onClickCartRemove('EveryMonthCart', everyMonthItem)">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
      <div class="sk-cart__item-content d-flex">
        <div class="sk-cart__item-img">
          <img src="{{ everyMonthItem.cart.productImageUrl }}" alt="cart-item-img" class="img-fluid cart-item-img" />
        </div>

        <div class="sk-cart__item-details flex-fill">
          <p class="p-small font-bold color-black sk-cart__item-title" [innerHTML]="everyMonthItem.cart.productName">
          </p>
          <p class="disclaimer-reg color-gray">
            {{ everyMonthItem.cart.servingsName }} <br />
            {{ everyMonthItem.cart.caffeineState }}
          </p>

          <div class="sk-cart__item-modify d-flex justify-content-between">
            <div class="sk-cart__select-number d-flex align-items-center justify-content-between">
              <button class="sk-cart__plus-minus color-white color-brand-bg"
                (click)="onClickCartMinus('EveryMonthCart', everyMonthItem)">
                <i class="fas fa-minus"></i>
              </button>
              <p class="p-small font-bold color-black">
                {{ everyMonthItem.cart.quantity }}
              </p>
              <button class="sk-cart__plus-minus color-white plus-icon color-brand-bg"
                (click)="onClickCartPlus('EveryMonthCart', everyMonthItem)">
                <i class="fas fa-plus"></i>
              </button>
            </div>

            <h4 class="color-black" [class.color-green]="!isBothPricesSame(everyMonthItem)">
              <del class="color-black font-reg" *ngIf="!isBothPricesSame(everyMonthItem)">{{ currencySymbol
                }}{{
                everyMonthItem.cart.quantity *
                everyMonthItem.cart.price.oneTime
                | customCurrency : productSettings
                }}</del>
              {{ currencySymbol
              }}{{
              everyMonthItem.finalPrice | customCurrency : productSettings
              }}
            </h4>
          </div>
        </div>
      </div>
    </figure>
  </figure>

  <ng-container *ngIf="everyMonthCart.length > 0 || oneTimeCart.length > 0">
    <div class="sk-cart__checkout-msg text-center">
      <p class="p-small">
        {{ "shipping-and-tax-calc-at-checkout" | translate }}
      </p>
    </div>

    <figure class="sk-cart__padd sk-cart__chackout-btn-wrap">
      <button class="button button-large sk-cart__chackout-btn position-relative" (click)="onClickCheckout()">
        {{ "checkout" | translate }}
      </button>
    </figure>

    <figure *ngIf="tenant === 'pruvit'" class="text-center sk-cart__padd sk-cart__payment">
      <a href="https://seal.godaddy.com/verifySeal?sealID=3yKVEmpS4DcxZvCif5EIPMWgq9VtV87T8i1xgMwbHkti2VZC9xb3wDT52JZM"><img
          src="assets/images/verified-and-secured-logo.svg" alt="verified-2"
          class="img-fluid sk-cart__varified-logo" /></a>
      <a href="https://sealserver.trustwave.com/cert.php?customerId=89f7b095117b4cc193bafffd7d000c39"><img
          src="assets/images/secure-trust-seal.png" alt="Trust logo" class="img-fluid secure-trust" /></a>

      <ul class="d-flex justify-content-center sk-cart__payment-method">
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/americanexpress.png" alt="americanexpress" />sss
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/mastercard.png" alt="mastercard" />
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/visa.png" alt="visa" />
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/discover.png" alt="discover" />
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/jcb.png" alt="jcb" />
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/PayPal.png" alt="paypal" />
        </li>
        <li *ngIf="selectedCountry === 'MX'">
          <img class="sk-cart__payment-icon" src="assets/images/oxxo.png" alt="oxxo" />
        </li>
        <li *ngIf="selectedCountry === 'CA' || selectedCountry === 'US'">
          <img class="sk-cart__payment-icon" src="assets/images/sezzle-logo.png" alt="sezzle" />
        </li>
      </ul>

      <p class="p-small sk-cart__we-accept">
        {{ "visa-mastercard-amex-paypal-1" | translate }}
        <br />{{
        selectedCountry !== "MX"
        ? ("visa-mastercard-amex-paypal-2" | translate)
        : selectedLanguage === "es"
        ? "PayPal, y OXXO aceptado"
        : "PayPal, and OXXO accepted."
        }}
      </p>
    </figure>

    <figure *ngIf="tenant === 'ladyboss'" class="text-center sk-cart__padd sk-cart__payment">
      <a href="https://seal.godaddy.com/verifySeal?sealID=PU1LaCGu92kNIi71KxW9cuDRqsdvbzGcOP90i9vxVRZFYfRzmAu3vbDFvBms">
        <img src="assets/images/verified-and-secured-logo.svg" alt="verified-2"
          class="img-fluid sk-cart__varified-logo">
      </a>
      <!-- <img src="assets/images/secure-trust-seal.png" alt="Trust logo" class="img-fluid secure-trust" /> -->

      <ul class="d-flex justify-content-center sk-cart__payment-method">
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/americanexpress.png" alt="americanexpress" />
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/mastercard.png" alt="mastercard" />
        </li>
        <li>
          <img class="sk-cart__payment-icon" src="assets/images/visa.png" alt="visa" />
        </li>
      </ul>

      <p class="p-small sk-cart__we-accept">
        Visa, Mastercard, and Amex accepted
      </p>
    </figure>

    <figure class="text-center sk-cart__shipment">
      <img src="assets/images/shipment.png" alt="shipment" class="sk-cart__shipment-icon" />

      <p class="p-small">
        {{ "shipping-note-supplements" | translate }}
      </p>

      <a *ngIf="shippingPolicyLink !== ''" href="{{ shippingPolicyLink }}" class="link-hover p-small">{{
        "shipping-policy" | translate }}</a>
    </figure>

    <div *ngIf="tenant !== 'ladyboss'" class="text-center share-my-cart-link pointer">
      <a (click)="onClickShareMyCart()">
        {{ "share-carts" | translate }}
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </ng-container>

  <div class="sk-cart__checkout-msg text-center" *ngIf="everyMonthCart.length === 0 && oneTimeCart.length === 0">
    <p class="p-small">{{ "your-cart-is-currently-empty" | translate }}.</p>
  </div>
</div>

<!-- pruvit new cart UI -->
<figure *ngIf="tenant === 'pruvit'" class="sk-cart sk-cart-new-ui" [ngStyle]="{ 'touch-action': 'none' }">

  <figure class="drawer-nav-header fixed-top d-flex justify-content-between">
    <h4 class="color-black drawer-title ml-28">{{ "my-cart" | translate }}</h4>
    <a (click)="onClickCloseCart()" class="sk-cart__close-btn pointer">
      <i class="fa-regular fa-xmark"></i>
    </a>
    <a *ngIf="everyMonthCart.length > 0 || oneTimeCart.length > 0" (click)="onClickShareMyCart()"
      class="pointer share-cart-btn font-bold p-small">
      {{ "share-cart" | translate }}
    </a>
  </figure>

  <figure class="drawer-nav-body pb-120">
    <figure class="sk-cart-body">
      <div *ngIf="oneTimeCart.length > 0">
        <h3 class="color-black font-24 my-3">{{ "todays-order" | translate }}</h3>
        <ng-container *ngFor="let cartTotal of cartTotalOneTime">
          <ng-container *ngIf="cartTotal?.showItem">
            <div class="card cart-progress-bar" *ngIf="cartTotal.isDiscountableInCart && !cartTotal.isEnabled">
              <p class="p-small color-black" [innerHTML]="cartTotal.bannerText" [style.color]="
                        cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                            ? cartTotal.settings?.banner_info?.banner_bgcolor
                            : '#FF9000'
                        ">
            </div>
            <div class="card cart-progress-bar" *ngIf="cartTotal.isEnabled && cartTotal.requiredPriceOrItems > 0">
              <p class="p-small color-black" [innerHTML]="cartTotal.bannerText"></p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="cartTotal.progressPercent" [style.color]="
                            cartTotal.settings?.banner_info?.banner_textcolor !== ''
                                ? cartTotal.settings?.banner_info?.banner_textcolor
                                : '#fff'
                            " [style.backgroundColor]="
                            cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                                ? cartTotal.settings?.banner_info?.banner_bgcolor
                                : '#FF9000'
                            " [attr.aria-valuenow]="cartTotal.progressPercent" aria-valuemin="0" aria-valuemax="100">
                  {{ cartTotal.progressPercent }}%
                </div>
              </div>
            </div>

            <div class="card cart-success-bar" *ngIf="cartTotal.isUnlocked">
              <p class="p-small color-white text-center" [innerHTML]="
                            cartTotal?.unlockedText !== ''
                                ? cartTotal?.unlockedText
                                : '🎉 ' +
                                ('youve-unlocked-a-cart-total-discount-1' | translate) +
                                ' <strong>' +
                                ('youve-unlocked-a-cart-total-discount-2' | translate) +
                                '</strong>'
                            ">
                <img draggable="false" role="img" class="emoji" alt="🎉"
                  src="https://s.w.org/images/core/emoji/13.0.0/svg/1f389.svg" />
              </p>
            </div>

            <div class="card almost-unlocked-wrap text-center" *ngIf="cartTotal.isAlmostUnlocked">
              <p>
                {{
                cartTotal?.almostUnlockedText !== ""
                ? cartTotal?.almostUnlockedText
                : "🎉 " +
                ("youve-almost-unlocked-a-cart-total-discount" | translate)
                }}
              </p>
              <p class="text-center eligible-text">
                {{
                cartTotal?.claimText !== ""
                ? cartTotal?.claimText
                : "👀 " + ("add-an-eligible-product-to-claim-offer" | translate)
                }}
                <a (click)="onClickShopNow()">{{ "shop-now" | translate }}</a>
              </p>
            </div>
          </ng-container>
        </ng-container>

        <div class="card products-card my-3">
          <div class="products-item p-3" [class.bottom-border]="i !== oneTimeCart.length - 1"
            *ngFor="let oneTimeItem of oneTimeCart; let i = index">
            <div class="d-flex">
              <div class="image-auto-slider">
                <div class="image-wraper d-flex align-items-center">
                  <div class="prev-img-wrap">
                    <img src="{{ oneTimeItem.cart.productImageUrl }}" alt="img" class="img-fluid cart-item-img">
                    <span class="count">{{ oneTimeItem.cart.quantity }}</span>
                  </div>
                </div>
              </div>

              <div class="right-text w-100 ml-3">
                <div class="prd-info w-100">
                  <div class="text d-flex justify-content-between">
                    <div class="prd-name">
                      <p class="color-black p-small font-bold" [innerHTML]="oneTimeItem.cart.productName">
                      </p>
                      <p class="disclaimer-reg color-gray">{{getAttributeList(oneTimeItem)}}</p>
                    </div>
                    <span class="color-black price"
                      [ngClass]="oneTimeItem.cart.price.oneTime - oneTimeItem.finalPrice > 0 ? 'disclaimer-bold' : 'disclaimer-reg'">
                      <del *ngIf="oneTimeItem.cart.price.oneTime - oneTimeItem.finalPrice > 0" class="color-gray mr-1">{{currencySymbol}}{{oneTimeItem.cart.quantity *
                        oneTimeItem.cart.price.oneTime | customCurrency : productSettings}}</del>
                      {{currencySymbol}}{{oneTimeItem.cart.quantity * oneTimeItem.finalPrice | customCurrency :
                      productSettings}}
                    </span>
                  </div>

                  <div *ngIf="oneTimeItem.cart.price.oneTime - oneTimeItem.finalPrice > 0"
                    class="text d-flex justify-content-between mt-2 brdr-left">
                    <p class="disclaimer-reg color-gray pb-1">
                      <span class="disclaimer-bold color-black d-block">{{ "discounts" | translate }}</span>
                    </p>
                    <span class="disclaimer-bold color-green">-{{currencySymbol}}{{oneTimeItem.cart.quantity *
                      (oneTimeItem.cart.price.oneTime - oneTimeItem.finalPrice) | customCurrency : productSettings}}
                    </span>
                  </div>

                </div>
              </div>
            </div>

            <div class="add-smartship d-flex align-items-center mt-2">
              <div *ngIf="oneTimeItem.cart.productSku.everyMonth !== ''" class="form-check custom-checkbox">
                <input [checked]="hasSmartshipVariation(oneTimeItem)" (change)="addSmartshipVariation(oneTimeItem)"
                  type="checkbox" class="form-check-input" id="addToSmartShip{{i}}">
                <label class="form-check-label disclaimer-bold" for="addToSmartShip{{i}}">{{ "add-to-smartship" |
                  translate }}</label>
              </div>

              <div class="d-flex align-items-center prd-btn-count ml-auto">
                <button class="btn" *ngIf="oneTimeItem.cart.productID !== 0"
                  (click)="onClickCartMinus('OneTimeCart', oneTimeItem)">
                  <i class="far fa-minus" aria-hidden="true"></i>
                </button>
                <p class="text-center p-small font-bold number-field">{{ oneTimeItem.cart.quantity }}</p>
                <button [disabled]="oneTimeItem.cart.quantity===oneTimeItem.cart.totalQuantity" class="btn"
                  *ngIf="oneTimeItem.cart.productID !== 0" (click)="onClickCartPlus('OneTimeCart', oneTimeItem)">
                  <i class="far fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card subtotal-card my-3">
          <div class="p-3">
            <div class="d-flex align-items-center justify-content-between">
              <p class="color-black p-small font-bold text-uppercase">{{ "subtotal" | translate }}</p>
              <p class="color-black p-small"
                [class.subtotal-price]="oneTimeCartTotalSumPrice !== oneTimeCartTotalDiscountSumPrice">
                <del *ngIf="oneTimeCartTotalSumPrice !== oneTimeCartTotalDiscountSumPrice"
                  class="disclaimer-reg color-gray mr-2">{{currencySymbol}}{{oneTimeCartTotalSumPrice | customCurrency :
                  productSettings}}</del>
                <strong>{{currencySymbol}}{{oneTimeCartTotalDiscountSumPrice | customCurrency :
                  productSettings}}</strong>
              </p>
            </div>
            <p *ngIf="!isVipLoyaltyExist && !isEverymonthExist; else vipPointBlock"
              class="color-black disclaimer-reg mt-2">
              ✨ {{ "up-to" | translate }} <strong>{{oneTimeCartTotalDiscountSumPrice | number: '1.0-2'}} {{ "points" |
                translate }}</strong> {{ "available" | translate }} <a href="javascript:void(0)"
                (click)="scrollIntoView('vipVaultUnlock')" class="link-hover underline color-black">{{ "learn-more" |
                translate }}</a>
            </p>
            <ng-template #vipPointBlock>
              <p class="color-black disclaimer-reg mt-2 d-flex justify-content-between">
                <span>{{ "estimated-vip-points" | translate }}</span>
                <strong><i class="fa-solid fa-coin color-yellow mr-1"></i> {{oneTimeCartTotalDiscountSumPrice | number:
                  '1.0-2'}}</strong>
              </p>
            </ng-template>
          </div>
        </div>
      </div>

      <app-vi-offer [isCart]="true" *ngIf="oneTimeCart.length > 0"></app-vi-offer>

      <div *ngIf="everyMonthCart.length > 0">
        <h3 class="color-black d-flex align-items-center justify-content-between font-24 smartShip-title my-3">{{
          "smartship"
          | translate }}
          <span class="disclaimer-reg timer"><i class="fa-regular fa-clock mr-1"></i> {{ "starts-in-days" | translate
            }}</span>
        </h3>

        <ng-container *ngFor="let cartTotal of cartTotalEveryMonth">
          <ng-container *ngIf="cartTotal?.showItem">
            <div class="card cart-progress-bar" *ngIf="cartTotal.isDiscountableInCart && !cartTotal.isEnabled">
              <p class="p-small color-black" [innerHTML]="cartTotal.bannerText" [style.color]="
                        cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                            ? cartTotal.settings?.banner_info?.banner_bgcolor
                            : '#FF9000'
                        ">
            </div>

            <div class="card cart-progress-bar" *ngIf="cartTotal.isEnabled && cartTotal.requiredPriceOrItems > 0">
              <p class="p-small color-black" [innerHTML]="cartTotal.bannerText"></p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="cartTotal.progressPercent" [style.color]="
                            cartTotal.settings?.banner_info?.banner_textcolor !== ''
                                ? cartTotal.settings?.banner_info?.banner_textcolor
                                : '#fff'
                            " [style.backgroundColor]="
                            cartTotal.settings?.banner_info?.banner_bgcolor !== ''
                                ? cartTotal.settings?.banner_info?.banner_bgcolor
                                : '#FF9000'
                            " [attr.aria-valuenow]="cartTotal.progressPercent" aria-valuemin="0" aria-valuemax="100">
                  {{ cartTotal.progressPercent }}%
                </div>
              </div>
            </div>

            <div class="card cart-success-bar" *ngIf="cartTotal.isEnabled && cartTotal.requiredPriceOrItems <= 0">
              <p class="p-small color-white text-center" [innerHTML]="
                            cartTotal?.unlockedText !== ''
                                ? cartTotal?.unlockedText
                                : '🎉 ' +
                                ('youve-unlocked-a-cart-total-discount-1' | translate) +
                                ' <strong>' +
                                ('youve-unlocked-a-cart-total-discount-2' | translate) +
                                '</strong>'
                            ">
                <img draggable="false" role="img" class="emoji" alt="🎉"
                  src="https://s.w.org/images/core/emoji/13.0.0/svg/1f389.svg" />
              </p>
            </div>
          </ng-container>
        </ng-container>

        <div class="card products-card my-3">
          <div class="products-item p-3" [class.bottom-border]="i !== everyMonthCart.length - 1"
            *ngFor="let everyMonthItem of everyMonthCart; let i=index">
            <div class="d-flex">
              <div class="image-auto-slider">
                <div class="image-wraper d-flex align-items-center">
                  <div class="prev-img-wrap">
                    <img src="{{ everyMonthItem.cart.productImageUrl }}" alt="img" class="img-fluid cart-item-img">
                    <span class="count">{{ everyMonthItem.cart.quantity }}</span>
                  </div>
                </div>
              </div>

              <div class="right-text w-100 ml-3">
                <div class="prd-info w-100">
                  <div class="text d-flex justify-content-between">
                    <div class="prd-name">
                      <p class="color-black p-small font-bold" [innerHTML]="everyMonthItem.cart.productName">
                      </p>
                      <p class="disclaimer-reg color-gray">{{ getAttributeList(everyMonthItem) }}</p>
                    </div>
                    <span class="disclaimer-reg color-black price">{{currencySymbol}}{{everyMonthItem.finalPrice |
                      customCurrency : productSettings}}</span>
                  </div>
                  <div *ngIf="everyMonthItem.cart.price.oneTime > 0" class="text d-flex justify-content-between mt-2 brdr-left">
                    <p class="disclaimer-reg color-gray pb-1">
                      <span class="disclaimer-bold color-black d-block">{{ "discounts" | translate }}</span>
                    </p>
                    <span class="disclaimer-reg color-black">-{{currencySymbol}}{{( everyMonthItem.cart.quantity *
                      everyMonthItem.cart.price.oneTime ) - everyMonthItem.finalPrice | customCurrency :
                      productSettings}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="add-smartship d-flex align-items-center mt-2">
              <div class="d-flex align-items-center prd-btn-count ml-auto">
                <button class="btn" (click)="onClickCartMinus('EveryMonthCart', everyMonthItem)">
                  <i class="far fa-minus" aria-hidden="true"></i>
                </button>
                <p class="text-center p-small font-bold number-field">{{ everyMonthItem.cart.quantity }}</p>
                <button [disabled]="everyMonthItem.cart.quantity===everyMonthItem.cart.totalQuantity" class="btn"
                  (click)="onClickCartPlus('EveryMonthCart', everyMonthItem)">
                  <i class="far fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="vipVaultUnlock" *ngIf="!isVipLoyaltyExist && !isEverymonthExist && oneTimeCart.length > 0"
        class="card smartShip-unlock-card my-3">
        <div class="py-3 px-sm-4 px-3">
          <div class="icon">
            <i class="fa-regular fa-arrows-repeat color-white"></i>
          </div>

          <h3 class="color-black text-center font-24">{{ "unlock-instant-vip-benefits" | translate }}</h3>
          <p class="unlock-text-gray text-center mt-1 font-18">{{ "simply-setup-smartship-today" | translate }}</p>
          <p class="text-center p-small font-bold my-sm-4 my-3">
            <a (click)="onClickShopNow()" href="javascript:void(0);" class="color-brand">{{ "shop-smartship-products" |
              translate }} <i class="fa-regular fa-chevron-right"></i></a>
          </p>

          <ul class="mb-3">
            <li class="p-small">{{ "get" | translate }} <strong>{{ "15-off" | translate }}</strong> {{
              "today-order-every-order-ongoing" | translate }}</li>
            <li class="p-small">{{ "immediately-earn" | translate }} {{ "up-to" | translate | lowercase }}
              <strong>{{oneTimeCartTotalDiscountSumPrice | customCurrency : productSettings}} {{ "points" | translate
                }}</strong> {{ "to-use-on-next-order" | translate }}
            </li>
            <li class="p-small">{{ "access-the" | translate }} <strong>{{ "vip-vault" | translate }}</strong> {{
              "with-exclusive-products" | translate }}</li>
          </ul>
        </div>
      </div>

    </figure>

    <ng-container *ngIf="everyMonthCart.length > 0 || oneTimeCart.length > 0">

      <figure *ngIf="tenant === 'pruvit'" class="text-center sk-cart__padd sk-cart__payment border-top pt-4 mt-4">
        <a
          href="https://seal.godaddy.com/verifySeal?sealID=3yKVEmpS4DcxZvCif5EIPMWgq9VtV87T8i1xgMwbHkti2VZC9xb3wDT52JZM">
          <img src="assets/images/verified-and-secured-logo.svg" alt="verified-2"
            class="img-fluid sk-cart__varified-logo">
        </a>
        <a href="https://sealserver.trustwave.com/cert.php?customerId=89f7b095117b4cc193bafffd7d000c39">
          <img src="assets/images/secure-trust-seal.png" alt="Trust logo" class="img-fluid secure-trust">
        </a>
        <ul class="d-flex justify-content-center sk-cart__payment-method">
          <li><img src="assets/images/americanexpress.png" alt="americanexpress" class="sk-cart__payment-icon"></li>
          <li><img src="assets/images/mastercard.png" alt="mastercard" class="sk-cart__payment-icon"></li>
          <li><img src="assets/images/visa.png" alt="visa" class="sk-cart__payment-icon"></li>
          <li><img src="assets/images/discover.png" alt="visa" class="sk-cart__payment-icon"></li>
          <li><img src="assets/images/jcb.png" alt="visa" class="sk-cart__payment-icon"></li>
          <li><img src="assets/images/PayPal.png" alt="paypal" class="sk-cart__payment-icon"></li>
          <li *ngIf="selectedCountry === 'MX'"><img src="assets/images/oxxo.png" alt="oxxo"
              class="sk-cart__payment-icon"></li>
          <li *ngIf="selectedCountry === 'CA' || selectedCountry === 'US'"><img src="assets/images/sezzle-logo.png"
              alt="sezzle" class="sk-cart__payment-icon"></li>
        </ul>
        <p class="p-small sk-cart__we-accept">
          {{ "visa-mastercard-amex-paypal-1" | translate }}
          <br />{{
          selectedCountry !== "MX"
          ? ("visa-mastercard-amex-paypal-2" | translate)
          : selectedLanguage === "es"
          ? "PayPal, y OXXO aceptado"
          : "PayPal, and OXXO accepted."
          }}
        </p>
      </figure>

      <figure class="text-center sk-cart__shipment">
        <img src="assets/images/shipment.png" alt="shipment" class="sk-cart__shipment-icon">
        <p class="p-small">{{ "orders-typically-ship-with-days" | translate }} {{ "shipping-in-peak-times" | translate
          }}</p>
        <a *ngIf="shippingPolicyLink !== ''" class="link-hover p-small"
          href="https://support.justpruvit.com/hc/en-us/articles/360052472171">
          {{ "shipping-policy" | translate }}
        </a>
      </figure>

      <figure class="sk-cart__chackout-btn-wrap drawer-nav-footer fixed-bottom">
        <button (click)="onClickCheckout()" class="button button-primary button-large">
          <i class="fa-regular fa-lock-keyhole mr-2"></i> {{ "secure-checkout" | translate }}
        </button>
        <p class="disclaimer-reg text-center color-gray mt-2">
          {{ "shipping-tax-and-final-discounts" | translate }}
        </p>
      </figure>
    </ng-container>

    <figure class="cart-empty-wrap d-flex" *ngIf="everyMonthCart.length === 0 && oneTimeCart.length === 0">
      <div class="inner-cont text-center">
        <i class="fa-regular fa-face-frown-slight"></i>
        <h4 class="font-24 font-bold mb-2 color-gray">{{ "your-cart-is-empty" | translate }}</h4>
        <p class="font-18 color-gray">{{ "fill-up-fuel-best-version-yourself" | translate }}</p>
        <button (click)="onClickShopAll()" class="button button-primary mt-3 button-gray"><i
            class="fa-regular fa-cart-shopping"></i> {{ "shop-now" | translate }}</button>
      </div>
    </figure>

  </figure>

</figure>