<main class="sk-main" [style.margin-top.px]="discountHeight">
  <section *ngIf="isLoaded; else loader" class="sk-dashboard referrer-home">
    <article class="container">
      <figure class="row">
        <div class="col-12 card ref-card">
          <p class="text-center ref-img">
            <img
              *ngIf="referrer?.imageUrl"
              [src]="referrer?.imageUrl"
              alt="img"
              class="img-fluid"
            />
          </p>
          <h3 class="color-black text-center">{{ referrer?.name }}</h3>
          <p class="social-icon text-center">
            <a
              *ngIf="customizeData?.socialMedia?.facebook !== ''"
              href="{{ customizeData?.socialMedia?.facebook }}"
              ><img src="assets/images/facebook-icon.png" alt="icon"
            /></a>
            <a
              *ngIf="customizeData?.socialMedia?.tiktok !== ''"
              href="{{ customizeData?.socialMedia?.tiktok }}"
              ><img src="assets/images/tik-tok-icon.png" alt="icon"
            /></a>
            <a
              *ngIf="customizeData?.socialMedia?.youtube !== ''"
              href="{{ customizeData?.socialMedia?.youtube }}"
              ><img src="assets/images/youtube-icon.png" alt="icon"
            /></a>
            <a
              *ngIf="customizeData?.socialMedia?.twitter !== ''"
              href="{{ customizeData?.socialMedia?.twitter }}"
              ><img src="assets/images/twitter-icon.png" alt="icon"
            /></a>
            <a
              *ngIf="customizeData?.socialMedia?.instagram !== ''"
              href="{{ customizeData?.socialMedia?.instagram }}"
              ><img src="assets/images/instagram-icon.png" alt="icon"
            /></a>
          </p>
          <h4
            class="text-center color-gray details"
            [innerHTML]="customizeData?.shortBio"
          ></h4>
          <h4 class="text-center get-in">
            <a href="#" (click)="ScrollIntoView()"
              >Get in touch <i class="far fa-long-arrow-alt-right ml-1"></i
            ></a>
          </h4>
        </div>

        <div
          *ngIf="customizeData?.links?.length"
          class="col-12 looking-accordion"
        >
          <h3 class="color-black title">What are you looking for?</h3>

          <div class="accordion" id="lookingAccordion">
            <div
              *ngFor="let link of customizeData?.links"
              class="accordion-wrap"
            >
              <h4 class="accordion-header">
                <a href="{{ link.link }}" target="_blank" class="collapse-btn">
                  {{ link.title }}
                </a>
              </h4>
            </div>
          </div>
        </div>

        <div *ngIf="favProducts.length" class="col-12 favorite-products-wrap">
          <div
            class="sk-category__title d-flex justify-content-between align-items-end"
          >
            <h3 class="color-black">Favorite products</h3>
            <a class="sk-category__link hide">Add all to cart</a>
          </div>

          <div class="row sk-category__products favoritePrd-slider">
            <div
              *ngFor="let product of favProducts"
              class="col-sm-4 sk-category__custom-padd"
            >
              <app-product-card [product]="product" #child></app-product-card>
            </div>
          </div>
        </div>

        <div class="col-12 request-more-info">
          <h3
            *ngIf="customizeData !== null && customizeData.theme?.contactForm"
            class="color-black title"
          >
            Request more info
          </h3>
          <div class="row justify-content-center">
            <form
              *ngIf="customizeData !== null && customizeData.theme?.contactForm"
              class="col-sm-6 col-12 mt-4"
              [formGroup]="contactForm"
              (ngSubmit)="onSubmitContactForm()"
            >
              <div class="card request-info-card">
                <div class="card-inner-info">
                  <div class="form-group">
                    <select
                      class="form-control custom-select color-black p-small"
                      formControlName="interested"
                    >
                      <option value="" selected>I’m interested in...</option>
                      <option value="Ketone Trials">Ketone Trials</option>
                      <option value="Becoming a Promoter">
                        Becoming a Promoter
                      </option>
                      <option value="Learning more about Prüvit">
                        Learning more about Prüvit
                      </option>
                    </select>
                    <small
                      *ngIf="f['interested'].errors?.['required']"
                      class="invalid-feedback"
                      >Please select what you are looking for</small
                    >
                  </div>

                  <div class="row">
                    <div class="col-6 form-group p-right">
                      <input
                        type="text"
                        class="form-control p-small"
                        placeholder="First name"
                        formControlName="firstName"
                        [class.is-invalid]="
                          f['firstName'].errors && f['firstName'].touched
                        "
                      />
                      <small
                        *ngIf="f['firstName'].errors?.['required']"
                        class="invalid-feedback"
                        >Please enter your First name</small
                      >
                    </div>
                    <div class="col-6 form-group p-left">
                      <input
                        type="text"
                        class="form-control p-small"
                        placeholder="Last name"
                        formControlName="lastName"
                        [class.is-invalid]="
                          f['lastName'].errors && f['lastName'].touched
                        "
                      />
                      <small
                        *ngIf="f['lastName'].errors?.['required']"
                        class="invalid-feedback"
                        >Please enter your Last name</small
                      >
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control p-small"
                      placeholder="Email address"
                      formControlName="email"
                      [class.is-invalid]="
                        f['email'].errors && f['email'].touched
                      "
                    />
                    <small
                      *ngIf="f['email'].errors?.['required']"
                      class="invalid-feedback"
                      >Please enter your Email</small
                    >
                    <small
                      *ngIf="f['email'].errors?.['pattern']"
                      class="invalid-feedback"
                      >Please enter a valid Email address</small
                    >
                  </div>

                  <div class="form-group phone">
                    <input
                      type="text"
                      class="form-control p-small"
                      placeholder="Phone"
                      formControlName="phone"
                      [class.is-invalid]="
                        f['phone'].errors && f['phone'].touched
                      "
                    />
                    <small
                      *ngIf="f['phone'].errors?.['required']"
                      class="invalid-feedback"
                      >Please enter your Phone number</small
                    >
                    <small
                      *ngIf="f['phone'].errors?.['pattern']"
                      class="invalid-feedback"
                      >Please enter a valid Phone number</small
                    >
                    <div class="dropdown">
                      <span
                        class="dropdown-btn"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <img
                          src="assets/images/{{
                            userSelectedCountry !== null
                              ? userSelectedCountry.country_code
                              : selectedCountry
                          }}.svg"
                          alt="flag"
                        />
                        <i class="fal fa-angle-down color-gray"></i>
                      </span>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <span
                          *ngFor="let country of countries"
                          class="dropdown-item"
                          (click)="setUserSelectedCountryPhoneCode(country)"
                          ><img
                            src="assets/images/{{ country.country_code }}.svg"
                            alt="flag"
                          />
                          {{ country.name }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group form-check color-gray">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                      formControlName="checkAgree"
                    />
                    <label
                      class="form-check-label disclaimer-reg"
                      for="exampleCheck1"
                      >I want to receive info via email and phone</label
                    >
                    <small
                      *ngIf="f['checkAgree'].errors?.['requiredTrue']"
                      class="invalid-feedback"
                      >Please agree to this disclaimer to continue</small
                    >
                  </div>
                  <button
                    type="submit"
                    [disabled]="contactForm.invalid"
                    class="button button-primary full-width button-icon"
                  >
                    Please contact me
                    <i
                      class="fa fa-spinner fa-spin"
                      *ngIf="isFormSubmitted"
                    ></i>
                  </button>
                  <p
                    *ngIf="errorMessage !== ''"
                    class="disclaimer-reg text-center mt-2"
                    style="color: #f35958; font-weight: 700"
                  >
                    {{ errorMessage }}
                  </p>
                  <p
                    *ngIf="successMessage !== ''"
                    class="disclaimer-reg text-center mt-2"
                    style="color: #219653; font-weight: 700"
                  >
                    {{ successMessage }}
                  </p>
                </div>
              </div>
            </form>
            <div
              *ngIf="
                referrer.hasOwnProperty('code') &&
                (referrer.hasOwnProperty('phoneNumber') ||
                  referrer.hasOwnProperty('email'))
              "
              class="col-sm-6 col-12 mt-4"
            >
              <div id="getInTouch" class="card get-in-touch">
                <h3 class="color-white text-center">Get in touch</h3>

                <div class="btns-group d-flex flex-column">
                  <a
                    *ngIf="referrer?.phoneNumber"
                    class="sk-pruver__btn color-brand color-white-bg"
                    href="tel:{{ referrer?.phoneNumber }}"
                  >
                    {{ "call-me" | translate }} 📞
                  </a>
                  <a
                    *ngIf="referrer?.phoneNumber"
                    class="sk-pruver__btn color-brand color-white-bg"
                    [href]="
                      'sms:' + referrer?.phoneNumber | textSanitizer: 'url'
                    "
                    >{{ "text-me" | translate }} 💬
                  </a>
                  <a
                    *ngIf="referrer?.email"
                    class="sk-pruver__btn color-brand color-white-bg"
                    href="mailto:{{ referrer?.email }}"
                    >{{ "email-me" | translate }} 📨
                  </a>
                </div>

                <div class="social-icon text-center">
                  <a
                    *ngIf="customizeData?.socialMedia?.facebook !== ''"
                    href="{{ customizeData?.socialMedia?.facebook }}"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                  <a
                    *ngIf="customizeData?.socialMedia?.twitter !== ''"
                    href="{{ customizeData?.socialMedia?.twitter }}"
                    ><i class="fa fa-twitter"></i
                  ></a>
                  <a
                    *ngIf="customizeData?.socialMedia?.instagram !== ''"
                    href="{{ customizeData?.socialMedia?.instagram }}"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </figure>

      <div
        id="foorerApprovalbar"
        *ngIf="isApprovalPage"
        class="footer-action-bar"
      >
        <div class="footer-card d-flex">
          <button
            *ngIf="isApproved"
            type="button"
            class="btn disclaimer-bold button-primary ml-auto"
          >
            Approved
          </button>
          <button
            *ngIf="!isApproved"
            (click)="onClickApproveBtn()"
            type="button"
            class="btn disclaimer-bold button-primary ml-auto"
          >
            Approve
            <i class="fa fa-spinner fa-spin" *ngIf="isApproveSubmitted"></i>
          </button>
        </div>
      </div>
    </article>
  </section>
  <!-- END of referrer-home -->

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</main>

<div class="miniplayer-wrap" *ngIf="referrerVideoId !== ''">
  <span
    class="wistia_embed wistia_async_{{
      referrerVideoId
    }} popover=false popoverAnimateThumbnail=true videoFoam=true controlsVisibleOnLoad=false"
    >&nbsp;</span
  >

  <button
    type="button"
    class="close position-absolute"
    (click)="onClickCloseVideo()"
  >
    <i class="fas fa-times-circle"></i>
  </button>
</div>
