<main
  *ngIf="isLoaded; else loader"
  class="sk-main referrer-home"
  [style.margin-top.px]="discountHeight"
>
  <section
    [ngClass]="{ 'non-pro': customizeData === null }"
    class="referrer-profile"
  >
    <figure class="container">
      <div class="row">
        <div
          [ngClass]="{ 'col-sm-4': customizeData !== null }"
          class="col-12 referrer-me-leftside"
        >
          <div class="profile-img">
            <img
              (click)="onClickReferrerImage()"
              alt="img"
              class="img-fluid"
              [ngClass]="{
                'no-ref-video': referrerVideoId === '',
                pointer: referrerVideoId !== ''
              }"
              [src]="
                referrer?.imageUrl
                  ? referrer?.imageUrl
                  : 'assets/images/avatar2.png'
              "
            />
            <div class="name">
              <h3 class="color-black">{{ referrer?.name }}</h3>
              <p class="p-small color-gray">
                {{ "independent-pruver" | translate }}
              </p>
            </div>
          </div>

          <div class="profile-info mb-4">
            <div class="mb-3" *ngIf="shortBio">
              <p
                class="color-black p-small"
                [ngClass]="{ limitTextHeight: isReadMore }"
                [innerHTML]="shortBio"
              ></p>
              <a
                *ngIf="shortBio.length > 100"
                class="p-small link-hover font-bold"
                (click)="isReadMore = !isReadMore"
                href="javascript:;"
                >{{ (isReadMore ? "read-more" : "read-less") | translate }}</a
              >
            </div>

            <button
              *ngIf="referrerVideoId"
              class="button button-primary full-width watch-now wistia_embed wistia_async_{{
                referrerVideoId
              }}
              popover=true
              popoverContent=link"
              style="display: inline"
            >
              <span class=""
                ><i class="fa-regular fa-play mr-2"></i
                >{{ "Watch now" | translate }}</span
              >
            </button>

            <div class="d-flex align-items-center justify-content-between">
              <button
                class="btn btn-gray font-bold"
                data-toggle="modal"
                data-target="#independentPruver"
              >
                {{ "request-info" | translate }}
              </button>

              <div class="dropdown" *ngIf="referrer?.phoneNumber || referrer?.email">
                <button
                  class="btn btn-gray font-bold"
                  [matMenuTriggerFor]="menuOrders"
                >
                  {{ "contact-me" | translate
                  }}<i
                    class="fa-regular fa-angle-down icon-size"
                    aria-hidden="true"
                  ></i>
                </button>
                <mat-menu
                  #menuOrders="matMenu"
                  xPosition="after"
                  class="mat-menu--full"
                >
                  <button
                    *ngIf="referrer?.phoneNumber"
                    (click)="sendCall(referrer?.phoneNumber)"
                    class="mat-menu-item--custom"
                    mat-menu-item
                  >
                    <i class="fa-regular fa-phone" aria-hidden="true"></i
                    ><span>{{ "call" | translate }}</span>
                  </button>
                  <button
                    *ngIf="referrer?.phoneNumber"
                    (click)="sendSMS(referrer?.phoneNumber)"
                    class="mat-menu-item--custom"
                    mat-menu-item
                  >
                    <i class="fa-regular fa-comment" aria-hidden="true"></i
                    ><span>{{ "sms" | translate }}</span>
                  </button>
                  <button
                    *ngIf="referrer?.email"
                    (click)="sendEmail(referrer?.email)"
                    class="mat-menu-item--custom"
                    mat-menu-item
                  >
                    <i class="far fa-envelope" aria-hidden="true"></i
                    ><span>{{ "email" | translate }}</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>

        <div class="referrer-right-col col-sm-8 col-12">
          <figcaption *ngIf="customizeData?.links?.length" class="me-item">
            <h2 class="page-title">{{ "my-links" | translate }}</h2>
            <div class="my-links-wrap">
              <div class="card">
                <ul class="my-link-list">
                  <ng-container *ngFor="let link of customizeData?.links">
                    <li
                      class="pointer"
                      *ngIf="link.link && link.title"
                      (click)="onClickMyLink(link.link)"
                    >
                      <a
                        >{{ link.title }}
                        <i class="fa-regular fa-arrow-up-right right-icon"></i>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </figcaption>
          <!-- END of me-item -->

          <figcaption *ngIf="favProducts.length" class="me-item">
            <h2 class="page-title mb-4">My favorites</h2>
            <div class="my-favorite-products-wrap">
              <div class="row sk-category__products favoritePrd-slider">
                <div
                  *ngFor="let product of favProducts"
                  class="col-6 sk-category__custom-padd"
                >
                  <app-product-card
                    [product]="product"
                    #child
                  ></app-product-card>
                </div>
              </div>
            </div>
          </figcaption>
          <!-- END of me-item -->
        </div>
      </div>
    </figure>
  </section>
</main>

<div
  class="modal animate fade sk-pruver referrer-contact-modal"
  id="independentPruver"
  tabindex="-1"
  role="dialog"
  aria-labelledby="independentPruverTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog sk-pruver__dialog modal-dialog-centered"
    role="document"
  >
    <div class="modal-content animate-bottom sk-pruver__content">
      <div class="modal-header flex-column border-bottom-0">
        <p class="w-100 d-flex justify-content-between align-items-center">
          <a
            href="#"
            data-dismiss="modal"
            aria-label="Close"
            class="modal-close"
            ><i class="far fa-times"></i
          ></a>
        </p>
      </div>
      <div class="modal-body sk-pruver__body">
        <div class="row">
          <div class="col-12 contact-me-wrap">
            <app-contact-form [caller]="'me'"></app-contact-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
