.dashboard--modal .modal-footer .button--default {
    max-width: fit-content;
}
.modal.addresses-modal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
}
.modal.addresses-modal .modal-dialog .modal-content .modal-footer {
    border-top: none;
}