<div class="row mx--15">
  <div class="col-sm-6 col-12">
    <h2 class="color-black page-title">{{ "addresses" | translate }}</h2>
  </div>
  <div class="col-sm-6 col-12 mt-3">
    <button (click)="openPopup()" class="button ml-auto addNew-btn" data-toggle="modal" data-target="#newAddressModal">
      <i class="far fa-plus mr-2" aria-hidden="true"></i>{{ "new-address" | translate }}
    </button>
  </div>
</div>
<div *ngIf="addresses.length == 0 && !loaderAddress" class="missing__payments">
  <i class="fa-solid fa-location-dot"></i>
  <h3>{{ "add-your-address" | translate }}</h3>
</div>
<div class="websites-wraper addresses">
  <app-loader *ngIf="loaderAddress" class="payment--loader"></app-loader>
  <div *ngIf="!loaderAddress" class="row mx--15">
    <div class="col-12">
      <div class="card card-default address-added">
        <ng-container *ngFor="let address of addresses; let i = index; let last = last">
          <div class="item" [ngClass]="{ 'border-btm': !last }">
            <!-- <p class="p-small color-black"><strong>{{address.name}}</strong></p> -->
            <p class="p-small color-black">
              {{ address.addressLine1 }}, {{ address.city }},
              {{ address.region }}, {{ address.postalCode }},
              {{ address.country }}
            </p>
            <!-- <p *ngIf="address.addressLine2" class="p-small color-black">
                          {{address.addressLine2}}
                      </p>
                      <p *ngIf="address.addressLine3" class="p-small color-black">
                          {{address.addressLine3}}
                      </p> -->

            <div class="address__button__wrap">
              <span *ngIf="address.isDefault" class="default-status">{{
                "default" | translate
              }}</span>
              <button mat-icon-button [matMenuTriggerFor]="menuOrders" class="button orders--button address--absolute">
                <span class="desktop__actions">{{ "actions" | translate }} <i class="fas fa-angle-down"></i></span>
              </button>
            </div>
            <mat-menu #menuOrders="matMenu" xPosition="before">
              <button [disabled]="loadingDefault || address.isDefault" (click)="setAsDefault(address.id)"
                class="mat-menu-item--custom" mat-menu-item>
                <span>{{ "make-default" | translate }}</span>
              </button>
              <button [disabled]="loadingDefault || address.isDefault" (click)="deleteAddressProfile(address); (false)"
                class="mat-menu-item--custom" mat-menu-item data-toggle="modal" data-target="#deleteAddressModal">
                <span>{{ "delete" | translate }}</span>
              </button>
            </mat-menu>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="modal animate fade right-mobile addresses-modal" id="newAddressModal" tabindex="-1" aria-hidden="true">
    <div class="dashboard--modal modal-dialog modal-dialog-centered">
      <div class="modal-content animate-bottom">
        <div *ngIf="!confirmShow" class="modal-header flex-column gray-bg">
          <p class="w-100 d-flex justify-content-between align-items-center">
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-hide"><i
                class="far fa-times"></i></a>
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-show"><i
                class="fal fa-chevron-left font-weight-normal mr-2"
                aria-hidden="true"></i>{{ "addresses" | translate }}</a>
          </p>
          <h3 class="title color-black">{{ "new-address" | translate }}</h3>
        </div>

        <div *ngIf="confirmShow" class="modal-header flex-column gray-bg" id="modalHeader">
          <p class="w-100 d-flex justify-content-between align-items-center">
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-hide"><i
                class="far fa-times"></i></a>
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-show"><i
                class="fal fa-chevron-left font-weight-normal mr-2"
                aria-hidden="true"></i>{{ "confirm-address" | translate }}
            </a>
          </p>
          <h3 class="title color-black">{{ "confirm-address" | translate }}</h3>
          <p class="p-small color-gray">
            {{ "we-found-these-verified-matches" | translate }}
          </p>
        </div>

        <div *ngIf="!confirmShow">
          <div class="modal-body pb-0">
            <div class="card modal-body-card">
              <div class="row">
                <div class="col-12 form-group">
                  <label class="color-black mb-1">{{
                    "shipping-country" | translate
                  }}</label>
                  <select (change)="onSelectCountry()" class="form-control custom-select" [(ngModel)]="address.country">
                    <option value="0" disabled>
                      {{ "select-country" | translate }}
                    </option>
                    <option value="us" selected="">
                      {{ "united-states" | translate }}
                    </option>
                    <option value="ca" selected="">
                      {{ "canada" | translate }}
                    </option>
                    <option value="au" selected="">
                      {{ "australia" | translate }}
                    </option>
                    <option value="nz" selected="">
                      {{ "New Zealand" | translate }}
                    </option>
                    <option value="mx" selected="">
                      {{ "Mexico" | translate }}
                    </option>
                    <option value="cn" selected="">
                      {{ "China" | translate }}
                    </option>
                    <option value="al" selected="">
                      {{ "Albania" | translate }}
                    </option>
                    <option value="at" selected="">
                      {{ "Austria" | translate }}
                    </option>
                    <option value="bg" selected="">
                      {{ "Bulgaria" | translate }}
                    </option>
                    <option value="be" selected="">
                      {{ "Belgium" | translate }}
                    </option>
                    <option value="cy" selected="">
                      {{ "Cyprus" | translate }}
                    </option>
                    <option value="ch" selected="">
                      {{ "Switzerland" | translate }}
                    </option>
                    <option value="cz" selected="">
                      {{ "Czech republic" | translate }}
                    </option>
                    <option value="de" selected="">
                      {{ "Germany" | translate }}
                    </option>
                    <option value="dk" selected="">
                      {{ "Denmark" | translate }}
                    </option>
                    <option value="ee" selected="">
                      {{ "Estonia" | translate }}
                    </option>
                    <option value="es" selected="">
                      {{ "Spain" | translate }}
                    </option>
                    <option value="fi" selected="">
                      {{ "Finland" | translate }}
                    </option>
                    <option value="fr" selected="">
                      {{ "France" | translate }}
                    </option>
                    <option value="jp" selected="">
                      {{ "Japan" | translate }}
                    </option>
                    <option value="gb" selected="">
                      {{ "United kingdom" | translate }}
                    </option>
                    <option value="ie" selected="">
                      {{ "Ireland" | translate }}
                    </option>
                    <option value="it" selected="">
                      {{ "Italy" | translate }}
                    </option>
                    <option value="gr" selected="">
                      {{ "Greece" | translate }}
                    </option>
                    <option value="hr" selected="">
                      {{ "Croatia" | translate }}
                    </option>
                    <option value="hu" selected="">
                      {{ "Hungary" | translate }}
                    </option>
                    <option value="lt" selected="">
                      {{ "Lithuania" | translate }}
                    </option>
                    <option value="lu" selected="">
                      {{ "Luxembourg" | translate }}
                    </option>
                    <option value="ro" selected="">
                      {{ "Romania" | translate }}
                    </option>
                    <option value="si" selected="">
                      {{ "Slovenia" | translate }}
                    </option>
                    <option value="sk" selected="">
                      {{ "Slovakia" | translate }}
                    </option>
                    <option value="lv" selected="">
                      {{ "Latvia" | translate }}
                    </option>
                    <option value="mt" selected="">
                      {{ "Malta" | translate }}
                    </option>
                    <option value="nl" selected="">
                      {{ "Netherlands" | translate }}
                    </option>
                    <option value="pl" selected="">
                      {{ "Poland" | translate }}
                    </option>
                    <option value="pt" selected="">
                      {{ "Portugal" | translate }}
                    </option>
                    <option value="se" selected="">
                      {{ "Sweden" | translate }}
                    </option>
                    <option value="hk" selected="">
                      {{ "Hong kong" | translate }}
                    </option>
                    <option value="mo" selected="">
                      {{ "Macau" | translate }}
                    </option>
                    <option value="my" selected="">
                      {{ "Malaysia" | translate }}
                    </option>
                    <option value="sg" selected="">
                      {{ "Singapore" | translate }}
                    </option>
                    <option value="tw" selected="">
                      {{ "Taiwan" | translate }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div *ngIf="activeAutoships.length > 0" class="col-12 form-group">
                  <ng-container *ngFor="let x of activeAutoships; let i = index">
                    <div (click)="addAutoship(x.id)" class="form-check mb-0">
                      <input type="checkbox" class="form-check-input" id="shippingCheck{{ i }}" />
                      <label class="form-check-label" for="shippingCheck{{ i }}">
                        {{
                          (tenant === "ladyboss"
                            ? "i-d-like-to-update-my-subscribe-n-save-id"
                            : "i-d-like-to-update-my-smartship-id"
                          ) | translate
                        }}
                        {{ x.id }} {{ "with this address" | translate }}
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <template #addresscontainer> </template>

          <div class="modal-footer">
            <div class="btn-groups">
              <button href="#" class="btn btn-gray" data-dismiss="modal" aria-label="Close">
                {{ "cancel" | translate }}
              </button>
              <button
                [disabled]="!address.addressLine1 || !address.city || !address.region || address.region == '0' || !address.postalCode || address.country == '0' || !address.country || !address.isValidZip || (address.country == 'hk' && !address.addressLine3)"
                class="btn button-primary" (click)="verifyAddress()">
                {{ "next" | translate }}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!loaderVerify && confirmShow">
          <div class="modal-body">
            <div class="card modal-body-card confirm-addr">
              <div class="row">
                <div class="col-12 form-group mb-0 py-0">
                  <ul class="list">
                    <li *ngFor="let address of confirmedAddresses; let i = index"
                      (click)="selectAddress(address, false)">
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="confirmAddressRadio"
                          id="confirmAddressRadio{{ i }}" />
                        <label class="form-check-label" for="confirmAddressRadio{{ i }}">{{ address.title }},
                          {{ address.city }}
                          {{ address.region }} {{ address.postalCode }}</label>
                      </div>
                    </li>
                    <li (click)="selectAddress(address, true)">
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="confirmAddressRadio"
                          id="confirmAddressRadio99" />
                        <label class="form-check-label"
                          for="confirmAddressRadio99">{{ "keep-original-address" | translate }}<br />
                          {{ address.addressLine1 }},
                          {{ address.city }}
                          {{ address.region }} {{ address.postalCode }}</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer justify-content-between">
            <div class="btn-groups">
              <a href="#" class="btn button-primary mb-show">{{
                      "save" | translate
                    }}</a>
            </div>
            <div class="btn-groups mb-hide">
              <button href="#" class="btn btn-gray" (click)="closeConfirm()">{{ "cancel" | translate }}</button>
              <button href="#" class="btn button-primary" [disabled]="loaderProfile || !selectedAddress"
                (click)="createAddressProfile(); (false)">
                <span *ngIf="!loaderProfile">{{ "save" | translate }}</span><span
                  *ngIf="loaderProfile">{{ "saving" | translate }}...</span>
              </button>
            </div>
          </div>
        </div>
        <app-loader *ngIf="loaderVerify" class="payment--loader"></app-loader>
        <!-- <app-loader *ngIf="regions.length == 0 || loader" class="payment--loader"></app-loader> -->
      </div>
    </div>


  </div>
  <!-- END of newAddressModal -->

  <div class="modal animate fade right-mobile addresses-modal" id="editAddressModal" tabindex="-1" aria-hidden="true">
    <div class="dashboard--modal modal-dialog modal-dialog-centered">
      <div class="modal-content animate-bottom">
        <div class="modal-header flex-column gray-bg">
          <p class="w-100 d-flex justify-content-between align-items-center">
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-hide"><i
                class="far fa-times"></i></a>
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-show"><i
                class="fal fa-chevron-left font-weight-normal mr-2" aria-hidden="true"></i>{{ "addresses" | translate }}
            </a>
            <a href="#" class="delete-address-btn mb-show" data-toggle="modal"
              data-target="#deleteAddressModal">{{ "delete-address" | translate }}</a>
          </p>
          <h3 class="title color-black">{{ "edit-address" | translate }}</h3>
        </div>

        <div class="modal-body">
          <div class="card modal-body-card">
            <div class="row">
              <div class="col-12 form-group">
                <label class="color-black mb-1">{{
                  "shipping-country" | translate
                }}</label>
                <select class="form-control custom-select">
                  <option value="1">{{ "select-country" | translate }}</option>
                  <option value="2" selected="">
                    {{ "united-states" | translate }}
                  </option>
                  <option value="3">{{ "australia" | translate }}</option>
                  <option value="4">{{ "canada" | translate }}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-12 form-group">
                <div class="card alert-card">
                  <div class="d-flex alert-text">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                    <p class="p-small">
                      {{
                        "your-current-country-of-residence-is-canada"
                          | translate
                      }}
                    </p>
                  </div>
                  <div class="btn-groups">
                    <a href="#" class="btn button-primary skip">{{
                      "skip" | translate
                    }}</a>
                    <a href="#" class="btn button-primary">{{
                      "change-residence" | translate
                    }}</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 form-group">
                <label class="color-black mb-1">{{
                  "first-name" | translate
                }}</label>
                <input type="text" class="form-control bg-color" value="Hubert Blaine" />
              </div>
              <div class="col-6 form-group">
                <label class="color-black mb-1">{{
                  "last-name" | translate
                }}</label>
                <input type="text" class="form-control bg-color" value="Featherstonehaugh" />
              </div>
            </div>

            <div class="row">
              <div class="col-12 form-group contact-phone-select">
                <label class="color-black mb-1 d-flex">{{ "contact-phone" | translate }}
                  <span class="disclaimer-reg color-gray ml-auto">{{
                    "optional" | translate
                  }}</span></label>
                <select class="form-control custom-select">
                  <option value="1">{{ "select-country" | translate }}</option>
                  <option value="2">NY</option>
                  <option value="3" selected>
                    {{ "united-states" | translate }}
                  </option>
                  <option value="4">{{ "canada" | translate }}</option>
                </select>
                <input type="text" class="form-control bg-color" value="+1 (618) 244 02 01" />
              </div>
            </div>

            <div class="row">
              <div class="col-12 form-group">
                <label class="color-black mb-1 d-flex">{{ "contact-email" | translate }}
                  <span class="disclaimer-reg color-gray ml-auto">{{
                    "optional" | translate
                  }}</span></label>
                <input type="text" class="form-control bg-color" value="hubert.b.featherstonehaugh@gmail.com" />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 col-6 form-group">
                <label class="color-black mb-1">{{
                  "postal-code" | translate
                }}</label>
                <input type="text" class="form-control bg-color" value="10023" />
              </div>
              <div class="col-sm-3 col-6 form-group">
                <label class="color-black mb-1">{{
                  "state" | translate
                }}</label>
                <select class="form-control custom-select">
                  <option value="1">{{ "select-country" | translate }}</option>
                  <option value="2" selected="">NY</option>
                  <option value="3">{{ "united-states" | translate }}</option>
                  <option value="4">{{ "canada" | translate }}</option>
                </select>
              </div>
              <div class="col-sm-6 col-12 form-group">
                <label class="color-black mb-1">{{ "city" | translate }}</label>
                <input type="text" class="form-control bg-color" value="New York" />
              </div>
            </div>

            <div class="row">
              <div class="col-12 form-group">
                <label class="color-black mb-1">{{
                  "shipping-address" | translate
                }}</label>
                <input type="text" class="form-control bg-color mb-2" placeholder="Street and number" />
                <input type="text" class="form-control bg-color" placeholder="Apartment, building, floor (optional)" />
              </div>
            </div>

            <div class="row">
              <div class="col-12 form-group">
                <div class="form-check mb-0">
                  <input type="checkbox" class="form-check-input" id="shippingCheck" checked />
                  <label class="form-check-label" for="shippingCheck">{{
                    "make-default-for-shipping" | translate
                  }}</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="billingCheck" checked />
                  <label class="form-check-label" for="billingCheck">{{
                    "make-default-for-billing" | translate
                  }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-between">
          <div class="btn-groups">
            <a href="#" class="btn btn-gray trash mb-hide" data-toggle="modal" data-target="#deleteAddressModal"><i
                class="fal fa-trash"></i></a>
            <a href="#" class="btn btn-gray mb-show" data-dismiss="modal"
              aria-label="Close">{{ "cancel" | translate }}</a>
            <a href="#" class="btn button-primary mb-show">{{
              "continue" | translate
            }}</a>
          </div>
          <div class="btn-groups mb-hide">
            <a href="#" class="btn btn-gray" data-dismiss="modal" aria-label="Close">{{ "cancel" | translate }}</a>
            <a href="#" class="btn button-primary">{{ "save" | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END of editAddressModal -->

  <div *ngIf="confirmShow" class="modal animate fade right-mobile addresses-modal" id="confirmAddressModal"
    tabindex="-1" aria-hidden="true">
    <div class="dashboard--modal modal-dialog modal-dialog-centered">
      <div class="modal-content animate-bottom">
        <div class="modal-header flex-column gray-bg" id="modalHeader">
          <p class="w-100 d-flex justify-content-between align-items-center">
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-hide"><i
                class="far fa-times"></i></a>
            <a href="#" data-dismiss="modal" aria-label="Close" class="modal-close mb-show"><i
                class="fal fa-chevron-left font-weight-normal mr-2"
                aria-hidden="true"></i>{{ "confirm-address" | translate }}
            </a>
          </p>
          <h3 class="title color-black">{{ "confirm-address" | translate }}</h3>
          <p class="p-small color-gray">
            {{ "we-found-these-verified-matches" | translate }}
          </p>
        </div>

        <div *ngIf="!loaderVerify">
          <div class="modal-body">
            <div class="card modal-body-card confirm-addr">
              <div class="row">
                <div class="col-12 form-group mb-0 py-0">
                  <ul class="list">
                    <li *ngFor="let address of confirmedAddresses; let i = index"
                      (click)="selectAddress(address, false)">
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="confirmAddressRadio"
                          id="confirmAddressRadio{{ i }}" />
                        <label class="form-check-label" for="confirmAddressRadio{{ i }}">{{ address.title }},
                          {{ address.city }}
                          {{ address.region }} {{ address.postalCode }}</label>
                      </div>
                    </li>
                    <li (click)="selectAddress(address, true)">
                      <div class="form-check">
                        <input type="radio" class="form-check-input" name="confirmAddressRadio"
                          id="confirmAddressRadio99" />
                        <label class="form-check-label"
                          for="confirmAddressRadio99">{{ "keep-original-address" | translate }}<br />
                          {{ address.addressLine1 }},
                          {{ address.city }}
                          {{ address.region }} {{ address.postalCode }}</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer justify-content-between">
            <div class="btn-groups">
              <a href="#" class="btn button-primary mb-show">{{
                "save" | translate
              }}</a>
            </div>
            <div class="btn-groups mb-hide">
              <a href="#" class="btn btn-gray" data-dismiss="modal" aria-label="Close">{{ "cancel" | translate }}</a>
              <button href="#" class="btn button-primary" [disabled]="loaderProfile || !selectedAddress"
                (click)="createAddressProfile(); (false)">
                <span *ngIf="!loaderProfile">{{ "save" | translate }}</span><span
                  *ngIf="loaderProfile">{{ "saving" | translate }}...</span>
              </button>
            </div>
          </div>
        </div>
        <app-loader *ngIf="loaderVerify" class="payment--loader"></app-loader>
      </div>
    </div>
  </div>
  <!-- END of confirmAddressModal -->

  <div class="modal animate fade addresses-modal" id="deleteAddressModal" tabindex="-1" aria-hidden="true">
    <div class="dashboard--modal modal-dialog modal-dialog-centered">
      <div class="modal-content animate-bottom">
        <div class="modal-body">
          <h3 class="color-black mb-3">{{ "delete-address" | translate }}?</h3>
          <p class="color-black p-small">{{ deleteSelectedAddressProfile }}</p>
          <p class="btn-groups d-flex">
            <a href="#" class="btn btn-gray" data-dismiss="modal" aria-label="Close">{{ "cancel" | translate }}</a>
            <button href="#" (click)="confirmDelete(); (false)" [disabled]="loadDelete" class="btn button-primary">
              <span *ngIf="!loadDelete">{{ "delete" | translate }}</span><span
                *ngIf="loadDelete">{{ "deleting" | translate }}...</span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="{ show: addressSaved == true }" class="status-msg p-small bottom-animation">
    {{ "address-added" | translate }}
  </div>
  <div [ngClass]="{ show: addressDeleted == true }" class="status-msg p-small bottom-animation">
    {{ "address-deleted" | translate }}
  </div>
  <!-- END of deleteAddressModal -->
</div>